@charset "UTF-8";
@media screen and (max-width: 1440px) {
  main .about_02_01 .about_wrap_01 .wrap > figure figcaption .textbox_title {
    font-size: 45px;
  }
  main .about_02_01 .about_wrap_03 .wrap > ul .home_box .home_content {
    width: 90%;
  }
  main .about_02_01 .about_wrap_03 .wrap > ul .home_box .home_content .home_img {
    max-width: 100%;
    height: auto;
  }
  main .about_02_01 .about_wrap_03 .wrap > ul .home_box .home_content .home_detail p:nth-of-type(1) {
    font-size: 24px;
  }
  main .about_02_01 .about_wrap_03 .wrap > ul .home_box .home_content .home_detail p:nth-of-type(2) {
    padding-top: 12px;
  }
  main .about_02_01 .about_wrap_03 .wrap > ul .home_box .home_content .home_detail p:last-child {
    padding-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main .about_02_01 .about_wrap_03 .wrap > ul .home_box .home_content .home_detail p:last-child a {
    width: 50%;
    padding: 10px 10px;
    border: 1px solid #000;
    -webkit-transition: .3s;
    transition: .3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #666;
  }
  main .about_02_01 .about_wrap_03 .wrap > ul .home_box .home_content .home_detail p:last-child a:hover {
    background: #112d4e;
    color: #fff;
    cursor: pointer;
  }
  main .about_02_01 .about_wrap_03 .wrap > ul .home_box .home_content .home_detail p:last-child a:nth-of-type(2) {
    border-left: none;
  }
  main .about_02_02 .about_wrap_01 {
    position: relative;
  }
  main .about_02_02 .about_wrap_01 .wrap > figure {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .about_02_02 .about_wrap_01 .wrap > figure figcaption {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #fff;
  }
  main .about_02_02 .about_wrap_01 .wrap > figure figcaption .textbox_title {
    font-size: 52px;
  }
  main .about_02_02 .about_wrap_02 .wrap .content_01 .detail_main_visual_01 {
    width: 710px;
    height: 530px;
  }
  main .about_02_02 .about_wrap_02 .wrap .content_01 .detail_main_caption figcaption {
    padding: 40px 0 0 60px;
  }
  main .about_02_02 .about_wrap_02 .wrap .content_01 .detail_main_caption figcaption ul .caption_01 {
    font-size: 2rem;
  }
  main .about_02_02 .about_wrap_02 .wrap .content_01 .detail_main_caption figcaption ul .caption_02 {
    margin-top: 32px;
    font-size: 1.3rem;
    padding-bottom: 24px;
  }
  main .about_02_02 .about_wrap_02 .wrap .content_01 .detail_main_caption figcaption ul .caption_05 {
    margin-top: 10px;
  }
  main .about_02_02 .about_wrap_02 .wrap .content_01 .detail_main_caption figcaption ul .caption_more {
    font-size: 1rem;
    padding: 20px 40px;
    margin-top: 40px;
  }
  main .about_02_02 .about_wrap_02 .wrap .content_02 table {
    margin-top: 120px;
    width: 100%;
  }
  main .about_02_02 .about_wrap_02 .wrap .content_02 table tr td:nth-of-type(1), main .about_02_02 .about_wrap_02 .wrap .content_02 table tr td:nth-of-type(3) {
    padding: 20px 10px;
    width: 10%;
    text-align: center;
    color: #fff;
  }
  main .about_02_02 .about_wrap_02 .wrap .content_02 table tr td:nth-of-type(2), main .about_02_02 .about_wrap_02 .wrap .content_02 table tr td:nth-of-type(4) {
    border: 1px solid #ddd;
    padding-left: 40px;
    width: 300px;
  }
  main .about_02_02 .about_wrap_03 {
    width: 70%;
    margin: 0 auto;
  }
  main .about_02_02 .about_wrap_03 .content_title {
    margin-top: 140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 24px;
  }
  main .about_02_02 .about_wrap_03 .content_title figcaption {
    font-size: 24px;
    font-weight: bold;
    color: #112d4e;
  }
  main .about_02_02 .about_wrap_03 .content_main {
    margin-top: 40px;
  }
  main .about_02_02 .about_wrap_04 .content_title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main .about_02_02 .about_wrap_04 .content_title figcaption {
    font-size: 24px;
  }
  main .about_02_02 .about_wrap_04 .content_main {
    margin-top: 40px;
  }
  main .about_02_02 .about_wrap_04 .content_main .content_table_01 {
    width: 100%;
  }
  main .about_02_02 .about_wrap_04 .content_main .content_table_01 caption {
    display: none;
  }
  main .about_02_02 .about_wrap_04 .content_main .content_table_01 tr, main .about_02_02 .about_wrap_04 .content_main .content_table_01 th, main .about_02_02 .about_wrap_04 .content_main .content_table_01 td {
    padding: 10px;
  }
  main .about_02_02 .about_wrap_04 .content_main .content_table_01 td {
    font-size: .9rem;
  }
  main .about_02_02 .about_wrap_04 .content_main .content_table_01 .table_detail_01 th {
    font-size: 1.1rem;
    padding: 10px 20px;
  }
  main .about_02_02 .about_wrap_04 .content_main .content_table_01 .table_detail_02 td figure {
    width: 100%;
    height: auto;
    margin: 0;
  }
  main .about_02_02 .about_wrap_05 .content_title figcaption {
    font-size: 24px;
  }
  main .about_02_02 .about_wrap_05 .content_title figcaption .content_title_sub_01 {
    font-size: .9rem;
  }
  main .about_02_02 .about_wrap_05 .content_main .wrap {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .about_02_02 .about_wrap_05 .content_main .wrap .content_01 ul {
    width: 550px;
    height: 500px;
  }
  main .about_02_02 .about_wrap_05 .content_main .wrap .content_01 ul .map_pointer_01 {
    left: 224px;
    top: 72px;
  }
  main .about_02_02 .about_wrap_05 .content_main .wrap .content_01 ul .map_pointer_02 {
    left: 187px;
    top: 108px;
  }
  main .about_02_02 .about_wrap_05 .content_main .wrap .content_01 ul .map_pointer_03 {
    left: 72px;
    top: 276px;
  }
  main .about_02_02 .about_wrap_05 .content_main .wrap .content_01 ul .map_pointer_04 {
    right: 28px;
    top: 235px;
  }
  main .about_02_02 .about_wrap_05 .content_main .wrap .content_02 {
    width: 30%;
  }
  main .about_02_02 .about_wrap_05 .content_main .wrap .content_02 > ul > li {
    border-bottom: 1px solid #ddd;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 15px;
  }
  main .about_02_02 .about_wrap_05 .content_main .wrap .content_02 > ul > li .content_text p {
    font-size: 1.1rem;
  }
  main .about_02_02 .about_wrap_05 .content_main .wrap .content_02 > ul > li .content_text i {
    font-size: .9rem;
  }
  main .about_02_02 .about_wrap_05 .content_main .wrap .content_02 > ul > li .content_ico figure .map_pointer {
    -webkit-transition: .3s;
    transition: .3s;
  }
  main .about_02_02 .about_wrap_05 .content_main .wrap .content_02 > ul > li .content_ico figure .map_svg:hover .map_pointer {
    fill: #112d4e;
  }
  main .about_02_02 .about_wrap_05 .content_main .wrap .content_02 > ul > li .content_ico figure .map_svg.active .map_pointer {
    fill: #112d4e;
  }
  main .about_02_02 .about_wrap_06 {
    width: 70%;
    margin: 0 auto;
  }
  main .about_02_02 .about_wrap_06 .content_title {
    margin-top: 140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 24px;
  }
  main .about_02_02 .about_wrap_06 .content_title figcaption {
    font-size: 24px;
    font-weight: bold;
    color: #112d4e;
  }
  main .about_02_02 .about_wrap_06 .content_main {
    margin-top: 40px;
  }
  main .about_02_02 .about_wrap_06 .content_main .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main .about_02_02 .about_wrap_06 .content_main .wrap .content_01 figure {
    width: auto;
    height: auto;
  }
  main .about_02_02 .about_wrap_06 .content_main .wrap .content_02 {
    margin-left: 60px;
  }
  main .about_02_02 .about_wrap_06 .content_main .wrap .content_02 ul .content_02_wrap {
    margin: 20px 0;
  }
  main .about_02_02 .about_wrap_06 .content_main .wrap .content_02 ul .content_02_wrap > li:not(:first-of-type) {
    margin-top: 10px;
  }
  main .about_02_02 .about_wrap_06 .content_main .wrap .content_02 ul .content_02_wrap > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main .about_02_02 .about_wrap_06 .content_main .wrap .content_02 ul .content_02_wrap > li strong {
    width: 40px;
    text-align: right;
    margin: 2.5px 30px 0 0;
  }
  main .about_02_02 .about_wrap_06 .content_main .wrap .content_02 ul .content_02_wrap > li .content_02_detail > li {
    padding-left: 10px;
    margin-top: 2.5px;
  }
  main .about_02_02 .about_wrap_06 .content_main .wrap .content_02 a {
    margin-top: 50px;
    padding: 15px 30px;
    -webkit-transition: .3s;
    transition: .3s;
  }
}

/* 테블릿 세로 (해상도 768px ~ 1023px)*/
@media screen and (max-width: 1023px) {
  main .about_02_01 .about_wrap_01 .wrap > figure figcaption .textbox_title {
    font-size: 38px;
  }
  main .about_02_01 .about_wrap_02 .wrap #quick_search {
    width: 500px;
  }
  main .about_02_01 .about_wrap_03 .wrap > ul .home_box {
    width: 50%;
  }
  main .about_02_01 .about_wrap_03 .wrap > ul .home_box .home_content {
    width: 90%;
  }
  main .about_02_01 .about_wrap_03 .wrap > ul .home_box .home_content .home_detail p:nth-of-type(1) {
    font-size: 20px;
  }
  main .about_02_01 .about_wrap_03 .wrap > ul .home_box .home_content .home_detail p:nth-of-type(2) {
    font-size: .9rem;
  }
  main .about_02_01 .about_wrap_03 .wrap > ul .home_box .home_content .home_detail p:last-child {
    padding-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main .about_02_01 .about_wrap_03 .wrap > ul .home_box .home_content .home_detail p:last-child a {
    width: 50%;
    padding: 10px 10px;
    border: 1px solid #000;
    -webkit-transition: .3s;
    transition: .3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: .8rem;
  }
  main .about_02_01 .about_wrap_03 .wrap > ul .home_box .home_content .home_detail p:last-child a:hover {
    background: #112d4e;
    color: #fff;
    cursor: pointer;
  }
  main .about_02_01 .about_wrap_03 .wrap > ul .home_box .home_content .home_detail p:last-child a:nth-of-type(2) {
    border-left: none;
  }
  main .about_02_02 .about_wrap_01 .wrap > figure figcaption {
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .about_02_02 .about_wrap_01 .wrap > figure figcaption .textbox_title {
    font-size: 38px;
  }
  main .about_02_02 .about_wrap_02 .wrap .content_01 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .about_02_02 .about_wrap_02 .wrap .content_01 .detail_main_visual_01 {
    width: auto;
    height: auto;
  }
  main .about_02_02 .about_wrap_02 .wrap .content_01 .detail_main_caption figcaption {
    padding: 40px 0 0 0;
  }
  main .about_02_02 .about_wrap_02 .wrap .content_01 .detail_main_caption figcaption ul .caption_01 {
    font-size: 1.8rem;
  }
  main .about_02_02 .about_wrap_02 .wrap .content_01 .detail_main_caption figcaption ul .caption_02 {
    margin-top: 32px;
    font-size: 1.3rem;
    padding-bottom: 24px;
  }
  main .about_02_02 .about_wrap_02 .wrap .content_01 .detail_main_caption figcaption ul .caption_05 {
    margin-top: 10px;
  }
  main .about_02_02 .about_wrap_02 .wrap .content_01 .detail_main_caption figcaption ul .caption_more {
    font-size: 1rem;
    padding: 20px 40px;
    margin-top: 40px;
    display: block;
    text-align: center;
  }
  main .about_02_02 .about_wrap_02 .wrap .content_02 table {
    margin-top: 120px;
  }
  main .about_02_02 .about_wrap_02 .wrap .content_02 table tr td:nth-of-type(1), main .about_02_02 .about_wrap_02 .wrap .content_02 table tr td:nth-of-type(3) {
    padding: 20px 10px;
    width: 10%;
    text-align: center;
    color: #fff;
  }
  main .about_02_02 .about_wrap_02 .wrap .content_02 table tr td:nth-of-type(2), main .about_02_02 .about_wrap_02 .wrap .content_02 table tr td:nth-of-type(4) {
    border: 1px solid #ddd;
    padding-left: 40px;
    width: 300px;
  }
  main .about_02_02 .about_wrap_03 {
    width: 70%;
    margin: 0 auto;
  }
  main .about_02_02 .about_wrap_03 .content_title {
    margin-top: 140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 24px;
  }
  main .about_02_02 .about_wrap_03 .content_title figcaption {
    font-size: 24px;
    font-weight: bold;
    color: #112d4e;
  }
  main .about_02_02 .about_wrap_03 .content_main {
    margin-top: 40px;
  }
  main .about_02_02 .about_wrap_04 .content_title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main .about_02_02 .about_wrap_04 .content_title figcaption {
    font-size: 24px;
  }
  main .about_02_02 .about_wrap_04 .content_main {
    margin-top: 40px;
  }
  main .about_02_02 .about_wrap_04 .content_main .content_table_01 {
    width: 100%;
  }
  main .about_02_02 .about_wrap_04 .content_main .content_table_01 caption {
    display: none;
  }
  main .about_02_02 .about_wrap_04 .content_main .content_table_01 tr, main .about_02_02 .about_wrap_04 .content_main .content_table_01 th, main .about_02_02 .about_wrap_04 .content_main .content_table_01 td {
    padding: 10px;
  }
  main .about_02_02 .about_wrap_04 .content_main .content_table_01 td {
    font-size: .9rem;
  }
  main .about_02_02 .about_wrap_04 .content_main .content_table_01 .table_detail_01 th {
    font-size: 1.1rem;
    padding: 10px 20px;
  }
  main .about_02_02 .about_wrap_04 .content_main .content_table_01 .table_detail_02 td figure {
    width: 100%;
    height: auto;
    margin: 0;
  }
  main .about_02_02 .about_wrap_05 .content_title figcaption {
    font-size: 24px;
  }
  main .about_02_02 .about_wrap_05 .content_title figcaption .content_title_sub_01 {
    font-size: .9rem;
  }
  main .about_02_02 .about_wrap_05 .content_main .wrap {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .about_02_02 .about_wrap_05 .content_main .wrap .content_01 ul {
    width: 550px;
    height: 500px;
  }
  main .about_02_02 .about_wrap_05 .content_main .wrap .content_01 ul .map_pointer_01 {
    left: 224px;
    top: 72px;
  }
  main .about_02_02 .about_wrap_05 .content_main .wrap .content_01 ul .map_pointer_02 {
    left: 187px;
    top: 108px;
  }
  main .about_02_02 .about_wrap_05 .content_main .wrap .content_01 ul .map_pointer_03 {
    left: 72px;
    top: 276px;
  }
  main .about_02_02 .about_wrap_05 .content_main .wrap .content_01 ul .map_pointer_04 {
    right: 28px;
    top: 235px;
  }
  main .about_02_02 .about_wrap_05 .content_main .wrap .content_02 {
    width: 30%;
  }
  main .about_02_02 .about_wrap_05 .content_main .wrap .content_02 > ul > li {
    border-bottom: 1px solid #ddd;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 15px;
  }
  main .about_02_02 .about_wrap_05 .content_main .wrap .content_02 > ul > li .content_text p {
    font-size: 1rem;
  }
  main .about_02_02 .about_wrap_05 .content_main .wrap .content_02 > ul > li .content_text i {
    display: none;
    font-size: .9rem;
  }
  main .about_02_02 .about_wrap_05 .content_main .wrap .content_02 > ul > li .content_ico figure .map_pointer {
    -webkit-transition: .3s;
    transition: .3s;
  }
  main .about_02_02 .about_wrap_06 {
    width: 70%;
    margin: 0 auto;
  }
  main .about_02_02 .about_wrap_06 .content_title {
    margin-top: 140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding-bottom: 24px;
  }
  main .about_02_02 .about_wrap_06 .content_title figcaption {
    font-size: 24px;
    font-weight: bold;
    color: #112d4e;
  }
  main .about_02_02 .about_wrap_06 .content_main {
    margin-top: 40px;
  }
  main .about_02_02 .about_wrap_06 .content_main .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .about_02_02 .about_wrap_06 .content_main .wrap .content_01 figure {
    width: auto;
    height: auto;
  }
  main .about_02_02 .about_wrap_06 .content_main .wrap .content_02 {
    margin-left: 0;
  }
  main .about_02_02 .about_wrap_06 .content_main .wrap .content_02 ul .content_02_wrap {
    margin: 20px 0;
  }
  main .about_02_02 .about_wrap_06 .content_main .wrap .content_02 ul .content_02_wrap > li:not(:first-of-type) {
    margin-top: 10px;
  }
  main .about_02_02 .about_wrap_06 .content_main .wrap .content_02 ul .content_02_wrap > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main .about_02_02 .about_wrap_06 .content_main .wrap .content_02 ul .content_02_wrap > li strong {
    width: 70px;
    text-align: left;
    margin: 0;
  }
  main .about_02_02 .about_wrap_06 .content_main .wrap .content_02 ul .content_02_wrap > li .content_02_detail > li {
    padding-left: 10px;
    margin-top: 2.5px;
  }
  main .about_02_02 .about_wrap_06 .content_main .wrap .content_02 a {
    display: block;
    text-align: center;
    margin-top: 50px;
    padding: 15px 30px;
  }
}

/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/
@media screen and (max-width: 767px) {
  main .about_02_01 .about_wrap_01 .wrap > figure figcaption .textbox_title {
    font-size: 26px;
  }
  main .about_02_01 .about_wrap_01 .wrap > figure figcaption .textbox_sub {
    text-align: center;
  }
  main .about_02_01 .about_wrap_02 .wrap #quick_search {
    width: 300px;
  }
  main .about_02_01 .about_wrap_03 .wrap > ul .home_box .home_content {
    width: 90%;
  }
  main .about_02_01 .about_wrap_03 .wrap > ul .home_box .home_content .home_detail p:nth-of-type(1) {
    font-size: 18px;
  }
  main .about_02_01 .about_wrap_03 .wrap > ul .home_box .home_content .home_detail p:nth-of-type(2) {
    font-size: .7rem;
    line-height: 1rem;
  }
  main .about_02_01 .about_wrap_03 .wrap > ul .home_box .home_content .home_detail p:last-child {
    padding-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .about_02_01 .about_wrap_03 .wrap > ul .home_box .home_content .home_detail p:last-child a {
    width: 100%;
    padding: 10px 10px;
    -webkit-transition: .3s;
    transition: .3s;
    font-size: .6rem;
    border: none;
  }
  main .about_02_01 .about_wrap_03 .wrap > ul .home_box .home_content .home_detail p:last-child a:hover {
    background: #112d4e;
    color: #fff;
    cursor: pointer;
  }
  main .about_02_01 .about_wrap_03 .wrap > ul .home_box .home_content .home_detail p:last-child a:nth-of-type(1) {
    border: 1px solid #000;
    border-bottom: none;
  }
  main .about_02_01 .about_wrap_03 .wrap > ul .home_box .home_content .home_detail p:last-child a:nth-of-type(2) {
    border: 1px solid #000;
  }
  main .about_02_02 .about_wrap_01 .wrap > figure figcaption {
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .about_02_02 .about_wrap_01 .wrap > figure figcaption .textbox_title {
    font-size: 26px;
  }
  main .about_02_02 .about_wrap_01 .wrap > figure figcaption .textbox_sub {
    text-align: center;
  }
  main .about_02_02 .about_wrap_02 .wrap .content_01 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .about_02_02 .about_wrap_02 .wrap .content_01 .detail_main_visual_01 {
    width: auto;
    height: auto;
  }
  main .about_02_02 .about_wrap_02 .wrap .content_01 .detail_main_caption figcaption {
    padding: 40px 0 0 0;
  }
  main .about_02_02 .about_wrap_02 .wrap .content_01 .detail_main_caption figcaption ul .caption_01 {
    font-size: 1.6rem;
  }
  main .about_02_02 .about_wrap_02 .wrap .content_01 .detail_main_caption figcaption ul .caption_02 {
    margin-top: 32px;
    font-size: 1.1rem;
    padding-bottom: 24px;
  }
  main .about_02_02 .about_wrap_02 .wrap .content_01 .detail_main_caption figcaption ul .caption_03, main .about_02_02 .about_wrap_02 .wrap .content_01 .detail_main_caption figcaption ul .caption_04, main .about_02_02 .about_wrap_02 .wrap .content_01 .detail_main_caption figcaption ul .caption_05 {
    font-size: .9rem;
  }
  main .about_02_02 .about_wrap_02 .wrap .content_01 .detail_main_caption figcaption ul .caption_05 {
    margin-top: 10px;
  }
  main .about_02_02 .about_wrap_02 .wrap .content_01 .detail_main_caption figcaption ul .caption_more {
    font-size: 1rem;
    padding: 20px 40px;
    margin-top: 40px;
    display: block;
    text-align: center;
  }
  main .about_02_02 .about_wrap_02 .wrap .content_02 table {
    margin-top: 120px;
  }
  main .about_02_02 .about_wrap_02 .wrap .content_02 table tr td:nth-of-type(1), main .about_02_02 .about_wrap_02 .wrap .content_02 table tr td:nth-of-type(3) {
    padding: 10px;
    width: 20%;
    text-align: center;
    color: #fff;
  }
  main .about_02_02 .about_wrap_02 .wrap .content_02 table tr td:nth-of-type(2), main .about_02_02 .about_wrap_02 .wrap .content_02 table tr td:nth-of-type(4) {
    padding: 0;
    text-align: center;
    font-size: .9rem;
  }
  main .about_02_02 .about_wrap_03 {
    width: 70%;
    margin: 0 auto;
  }
  main .about_02_02 .about_wrap_03 .content_title {
    margin-top: 140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 24px;
  }
  main .about_02_02 .about_wrap_03 .content_title figcaption {
    font-size: 24px;
    font-weight: bold;
    color: #112d4e;
  }
  main .about_02_02 .about_wrap_03 .content_main {
    margin-top: 40px;
  }
  main .about_02_02 .about_wrap_04 .content_title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main .about_02_02 .about_wrap_04 .content_title figcaption {
    font-size: 24px;
  }
  main .about_02_02 .about_wrap_04 .content_main {
    margin-top: 40px;
  }
  main .about_02_02 .about_wrap_04 .content_main .content_table_01 {
    width: 100%;
  }
  main .about_02_02 .about_wrap_04 .content_main .content_table_01 caption {
    display: none;
  }
  main .about_02_02 .about_wrap_04 .content_main .content_table_01 tr, main .about_02_02 .about_wrap_04 .content_main .content_table_01 th, main .about_02_02 .about_wrap_04 .content_main .content_table_01 td {
    padding: 10px;
  }
  main .about_02_02 .about_wrap_04 .content_main .content_table_01 td {
    font-size: .9rem;
  }
  main .about_02_02 .about_wrap_04 .content_main .content_table_01 .table_detail_01 th {
    font-size: .9rem;
    padding: 10px 0;
  }
  main .about_02_02 .about_wrap_04 .content_main .content_table_01 .table_detail_02 td figure {
    width: 100%;
    height: auto;
    margin: 0;
  }
  main .about_02_02 .about_wrap_05 .content_title figcaption {
    font-size: 24px;
  }
  main .about_02_02 .about_wrap_05 .content_title figcaption .content_title_sub_01 {
    font-size: .9rem;
  }
  main .about_02_02 .about_wrap_05 .content_main .wrap {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .about_02_02 .about_wrap_05 .content_main .wrap .content_01 ul {
    width: 550px;
    height: 500px;
  }
  main .about_02_02 .about_wrap_05 .content_main .wrap .content_01 ul .map_pointer_01 {
    left: 224px;
    top: 72px;
  }
  main .about_02_02 .about_wrap_05 .content_main .wrap .content_01 ul .map_pointer_02 {
    left: 187px;
    top: 108px;
  }
  main .about_02_02 .about_wrap_05 .content_main .wrap .content_01 ul .map_pointer_03 {
    left: 72px;
    top: 276px;
  }
  main .about_02_02 .about_wrap_05 .content_main .wrap .content_01 ul .map_pointer_04 {
    right: 28px;
    top: 235px;
  }
  main .about_02_02 .about_wrap_05 .content_main .wrap .content_02 {
    width: 30%;
    display: none;
  }
  main .about_02_02 .about_wrap_05 .content_main .wrap .content_02 > ul > li {
    border-bottom: 1px solid #ddd;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 15px;
  }
  main .about_02_02 .about_wrap_05 .content_main .wrap .content_02 > ul > li .content_text p {
    font-size: 1rem;
  }
  main .about_02_02 .about_wrap_05 .content_main .wrap .content_02 > ul > li .content_text i {
    display: none;
    font-size: .9rem;
  }
  main .about_02_02 .about_wrap_05 .content_main .wrap .content_02 > ul > li .content_ico figure .map_pointer {
    -webkit-transition: .3s;
    transition: .3s;
  }
  main .about_02_02 .about_wrap_06 {
    width: 70%;
    margin: 0 auto;
  }
  main .about_02_02 .about_wrap_06 .content_main .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .about_02_02 .about_wrap_06 .content_main .wrap .content_01 figure {
    width: auto;
    height: auto;
  }
  main .about_02_02 .about_wrap_06 .content_main .wrap .content_02 {
    margin-left: 0;
  }
  main .about_02_02 .about_wrap_06 .content_main .wrap .content_02 ul .content_02_wrap {
    margin: 20px 0;
  }
  main .about_02_02 .about_wrap_06 .content_main .wrap .content_02 ul .content_02_wrap > li:not(:first-of-type) {
    margin-top: 10px;
  }
  main .about_02_02 .about_wrap_06 .content_main .wrap .content_02 ul .content_02_wrap > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main .about_02_02 .about_wrap_06 .content_main .wrap .content_02 ul .content_02_wrap > li strong {
    width: 70px;
    text-align: left;
    margin: 0;
  }
  main .about_02_02 .about_wrap_06 .content_main .wrap .content_02 ul .content_02_wrap > li .content_02_detail > li {
    padding-left: 10px;
    margin-top: 2.5px;
  }
  main .about_02_02 .about_wrap_06 .content_main .wrap .content_02 a {
    display: block;
    text-align: center;
    margin-top: 50px;
    padding: 15px 30px;
  }
}

@media screen and (max-width: 479px) {
  main .about_02_01 .about_wrap_01 .wrap > figure figcaption .textbox_title {
    font-size: 31px;
  }
  main .about_02_01 .about_wrap_02 .wrap #quick_search {
    width: 300px;
  }
  main .about_02_01 .about_wrap_03 .wrap > ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .about_02_01 .about_wrap_03 .wrap > ul .home_box {
    width: 100%;
  }
  main .about_02_01 .about_wrap_03 .wrap > ul .home_box .home_content {
    width: 90%;
  }
  main .about_02_01 .about_wrap_03 .wrap > ul .home_box .home_content .home_detail p:nth-of-type(1) {
    font-size: 16px;
  }
  main .about_02_01 .about_wrap_03 .wrap > ul .home_box .home_content .home_detail p:nth-of-type(2) {
    font-size: .8rem;
    line-height: 1rem;
  }
  main .about_02_01 .about_wrap_03 .wrap > ul .home_box .home_content .home_detail p:last-child {
    padding-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .about_02_01 .about_wrap_03 .wrap > ul .home_box .home_content .home_detail p:last-child a {
    width: 100%;
    padding: 10px 10px;
    -webkit-transition: .3s;
    transition: .3s;
    font-size: .7rem;
    border: none;
  }
  main .about_02_01 .about_wrap_03 .wrap > ul .home_box .home_content .home_detail p:last-child a:hover {
    background: #112d4e;
    color: #fff;
    cursor: pointer;
  }
  main .about_02_01 .about_wrap_03 .wrap > ul .home_box .home_content .home_detail p:last-child a:nth-of-type(1) {
    border: 1px solid #000;
    border-bottom: none;
  }
  main .about_02_01 .about_wrap_03 .wrap > ul .home_box .home_content .home_detail p:last-child a:nth-of-type(2) {
    border: 1px solid #000;
  }
  main .about_02_02 .about_wrap_01 .wrap > figure figcaption {
    width: 90%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .about_02_02 .about_wrap_01 .wrap > figure figcaption .textbox_title {
    font-size: 1.3rem;
  }
  main .about_02_02 .about_wrap_01 .wrap > figure figcaption .textbox_sub {
    text-align: center;
  }
  main .about_02_02 .about_wrap_02 {
    width: 90%;
  }
  main .about_02_02 .about_wrap_02 .wrap .content_01 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .about_02_02 .about_wrap_02 .wrap .content_01 .detail_main_visual_01 {
    width: auto;
    height: auto;
  }
  main .about_02_02 .about_wrap_02 .wrap .content_01 .detail_main_caption figcaption {
    padding: 40px 0 0 0;
  }
  main .about_02_02 .about_wrap_02 .wrap .content_01 .detail_main_caption figcaption ul .caption_01 {
    font-size: 1.6rem;
  }
  main .about_02_02 .about_wrap_02 .wrap .content_01 .detail_main_caption figcaption ul .caption_02 {
    margin-top: 32px;
    font-size: 1.1rem;
    padding-bottom: 24px;
  }
  main .about_02_02 .about_wrap_02 .wrap .content_01 .detail_main_caption figcaption ul .caption_03, main .about_02_02 .about_wrap_02 .wrap .content_01 .detail_main_caption figcaption ul .caption_04, main .about_02_02 .about_wrap_02 .wrap .content_01 .detail_main_caption figcaption ul .caption_05 {
    font-size: .9rem;
  }
  main .about_02_02 .about_wrap_02 .wrap .content_01 .detail_main_caption figcaption ul .caption_05 {
    margin-top: 10px;
  }
  main .about_02_02 .about_wrap_02 .wrap .content_01 .detail_main_caption figcaption ul .caption_more {
    font-size: 1rem;
    padding: 20px 40px;
    margin-top: 40px;
    display: block;
    text-align: center;
  }
  main .about_02_02 .about_wrap_02 .wrap .content_02 table {
    margin-top: 120px;
  }
  main .about_02_02 .about_wrap_02 .wrap .content_02 table tr td:nth-of-type(1), main .about_02_02 .about_wrap_02 .wrap .content_02 table tr td:nth-of-type(3) {
    padding: 10px;
    width: 20%;
    font-size: .9rem;
  }
  main .about_02_02 .about_wrap_02 .wrap .content_02 table tr td:nth-of-type(2), main .about_02_02 .about_wrap_02 .wrap .content_02 table tr td:nth-of-type(4) {
    padding: 0;
    text-align: center;
    font-size: .8rem;
  }
  main .about_02_02 .about_wrap_03 {
    width: 90%;
    margin: 0 auto;
  }
  main .about_02_02 .about_wrap_03 .content_title {
    margin-top: 140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 24px;
  }
  main .about_02_02 .about_wrap_03 .content_title figcaption {
    font-size: 24px;
    font-weight: bold;
    color: #112d4e;
  }
  main .about_02_02 .about_wrap_03 .content_main {
    margin-top: 40px;
  }
  main .about_02_02 .about_wrap_04 {
    width: 90%;
  }
  main .about_02_02 .about_wrap_04 .content_title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main .about_02_02 .about_wrap_04 .content_title figcaption {
    font-size: 24px;
  }
  main .about_02_02 .about_wrap_04 .content_main {
    margin-top: 40px;
  }
  main .about_02_02 .about_wrap_04 .content_main .content_table_01 {
    width: 100%;
  }
  main .about_02_02 .about_wrap_04 .content_main .content_table_01 caption {
    display: none;
  }
  main .about_02_02 .about_wrap_04 .content_main .content_table_01 tr, main .about_02_02 .about_wrap_04 .content_main .content_table_01 th, main .about_02_02 .about_wrap_04 .content_main .content_table_01 td {
    padding: 10px 0;
    font-size: .9rem;
  }
  main .about_02_02 .about_wrap_04 .content_main .content_table_01 td {
    font-size: .8rem;
  }
  main .about_02_02 .about_wrap_04 .content_main .content_table_01 .table_detail_01 th {
    font-size: .9rem;
    padding: 10px 0;
  }
  main .about_02_02 .about_wrap_04 .content_main .content_table_01 .table_detail_02 {
    display: none;
  }
  main .about_02_02 .about_wrap_04 .content_main .content_table_01 .table_detail_02 td figure {
    width: 100%;
    height: auto;
    margin: 0;
  }
  main .about_02_02 .about_wrap_05 {
    width: 90%;
  }
  main .about_02_02 .about_wrap_05 .content_title figcaption {
    font-size: 24px;
  }
  main .about_02_02 .about_wrap_05 .content_title figcaption .content_title_sub_01 {
    font-size: .9rem;
  }
  main .about_02_02 .about_wrap_05 .content_main .wrap {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .about_02_02 .about_wrap_05 .content_main .wrap .content_01 ul {
    width: 350px;
    height: auto;
  }
  main .about_02_02 .about_wrap_05 .content_main .wrap .content_01 ul .map_pointer_01 {
    left: 140px;
    top: 35px;
  }
  main .about_02_02 .about_wrap_05 .content_main .wrap .content_01 ul .map_pointer_02 {
    left: 110px;
    top: 60px;
  }
  main .about_02_02 .about_wrap_05 .content_main .wrap .content_01 ul .map_pointer_03 {
    left: 40px;
    top: 160px;
  }
  main .about_02_02 .about_wrap_05 .content_main .wrap .content_01 ul .map_pointer_04 {
    right: 15px;
    top: 125px;
  }
  main .about_02_02 .about_wrap_05 .content_main .wrap .content_02 {
    width: 30%;
    display: none;
  }
  main .about_02_02 .about_wrap_05 .content_main .wrap .content_02 > ul > li {
    border-bottom: 1px solid #ddd;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 15px;
  }
  main .about_02_02 .about_wrap_05 .content_main .wrap .content_02 > ul > li .content_text p {
    font-size: 1rem;
  }
  main .about_02_02 .about_wrap_05 .content_main .wrap .content_02 > ul > li .content_text i {
    display: none;
    font-size: .9rem;
  }
  main .about_02_02 .about_wrap_05 .content_main .wrap .content_02 > ul > li .content_ico figure .map_pointer {
    -webkit-transition: .3s;
    transition: .3s;
  }
  main .about_02_02 .about_wrap_06 {
    width: 90%;
  }
  main .about_02_02 .about_wrap_06 .content_main .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .about_02_02 .about_wrap_06 .content_main .wrap .content_01 figure {
    width: auto;
    height: auto;
  }
  main .about_02_02 .about_wrap_06 .content_main .wrap .content_02 {
    margin-left: 0;
  }
  main .about_02_02 .about_wrap_06 .content_main .wrap .content_02 ul .content_02_wrap {
    margin: 20px 0;
  }
  main .about_02_02 .about_wrap_06 .content_main .wrap .content_02 ul .content_02_wrap > li:not(:first-of-type) {
    margin-top: 10px;
  }
  main .about_02_02 .about_wrap_06 .content_main .wrap .content_02 ul .content_02_wrap > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main .about_02_02 .about_wrap_06 .content_main .wrap .content_02 ul .content_02_wrap > li strong {
    width: 70px;
    text-align: left;
    margin: 0;
    font-size: .9rem;
  }
  main .about_02_02 .about_wrap_06 .content_main .wrap .content_02 ul .content_02_wrap > li .content_02_detail {
    font-size: .8rem;
  }
  main .about_02_02 .about_wrap_06 .content_main .wrap .content_02 ul .content_02_wrap > li .content_02_detail > li {
    padding-left: 10px;
    margin-top: 2.5px;
  }
  main .about_02_02 .about_wrap_06 .content_main .wrap .content_02 a {
    display: block;
    text-align: center;
    margin-top: 50px;
    padding: 15px 30px;
  }
}
