@import url("../../css/common.css");
@import url("init.css");
.text_pointing {
  width: 10px;
  height: 17px;
  margin-right: 6px;
}

main > div {
  margin-top: 80px;
}

main .about_02_01 .about_wrap_01 {
  position: relative;
}

main .about_02_01 .about_wrap_01 .wrap > figure {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 350px;
  background: no-repeat center/cover url("../images/about_visual_01.png");
}

main .about_02_01 .about_wrap_01 .wrap > figure figcaption {
  position: absolute;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
}

main .about_02_01 .about_wrap_01 .wrap > figure figcaption .textbox_title {
  font-size: 52px;
}

main .about_02_01 .about_wrap_02 {
  margin-top: 150px;
  text-align: center;
}

main .about_02_01 .about_wrap_02 .wrap {
  display: inline-block;
  position: relative;
}

main .about_02_01 .about_wrap_02 .wrap #quick_search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .about_02_01 .about_wrap_02 .wrap #quick_search input {
  width: 600px;
  font-size: 20px;
  border: none;
  border-bottom: 1px solid #000;
  padding-bottom: 15px;
}

main .about_02_01 .about_wrap_02 .wrap #quick_search button {
  cursor: pointer;
  border: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

main .about_02_01 .about_wrap_03 {
  width: 70%;
  margin: 0 auto;
}

main .about_02_01 .about_wrap_03 .wrap > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .about_02_01 .about_wrap_03 .wrap > ul .home_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 33%;
  margin-top: 120px;
}

main .about_02_01 .about_wrap_03 .wrap > ul .home_box .home_content {
  width: 90%;
}

main .about_02_01 .about_wrap_03 .wrap > ul .home_box .home_content .home_img {
  width: 100%;
  height: 290px;
  overflow: hidden;
}

main .about_02_01 .about_wrap_03 .wrap > ul .home_box .home_content .home_detail p:nth-of-type(1) {
  padding-top: 30px;
  font-size: 24px;
}

main .about_02_01 .about_wrap_03 .wrap > ul .home_box .home_content .home_detail p:nth-of-type(2) {
  padding-top: 12px;
}

main .about_02_01 .about_wrap_03 .wrap > ul .home_box .home_content .home_detail p:last-child {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .about_02_01 .about_wrap_03 .wrap > ul .home_box .home_content .home_detail p:last-child a {
  width: 50%;
  padding: 1rem 3.75rem;
  border: 1px solid #000;
  -webkit-transition: .3s;
  transition: .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #666;
}

main .about_02_01 .about_wrap_03 .wrap > ul .home_box .home_content .home_detail p:last-child a:hover {
  background: #112d4e;
  color: #fff;
  cursor: pointer;
}

main .about_02_01 .about_wrap_03 .wrap > ul .home_box .home_content .home_detail p:last-child a:nth-of-type(2) {
  border-left: none;
}

main .about_02_02 .about_wrap_01 {
  position: relative;
}

main .about_02_02 .about_wrap_01 .wrap > figure {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 350px;
  background: no-repeat center/cover url("../images/about_visual_01.png");
}

main .about_02_02 .about_wrap_01 .wrap > figure figcaption {
  position: absolute;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
}

main .about_02_02 .about_wrap_01 .wrap > figure figcaption .textbox_title {
  font-size: 52px;
}

main .about_02_02 .about_wrap_02 {
  width: 70%;
  margin: 150px auto 0;
}

main .about_02_02 .about_wrap_02 .wrap .content_01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .about_02_02 .about_wrap_02 .wrap .content_01 .detail_main_visual_01 {
  width: 710px;
  height: 530px;
}

main .about_02_02 .about_wrap_02 .wrap .content_01 .detail_main_visual_01 img {
  width: 100%;
}

main .about_02_02 .about_wrap_02 .wrap .content_01 .detail_main_caption figcaption {
  padding: 40px 0 0 60px;
}

main .about_02_02 .about_wrap_02 .wrap .content_01 .detail_main_caption figcaption ul .caption_01 {
  font-size: 36px;
}

main .about_02_02 .about_wrap_02 .wrap .content_01 .detail_main_caption figcaption ul .caption_02 {
  margin-top: 32px;
  font-size: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ddd;
  color: #112d4e;
}

main .about_02_02 .about_wrap_02 .wrap .content_01 .detail_main_caption figcaption ul .caption_03, main .about_02_02 .about_wrap_02 .wrap .content_01 .detail_main_caption figcaption ul .caption_04, main .about_02_02 .about_wrap_02 .wrap .content_01 .detail_main_caption figcaption ul .caption_05 {
  list-style-type: disc;
}

main .about_02_02 .about_wrap_02 .wrap .content_01 .detail_main_caption figcaption ul .caption_03 {
  margin-top: 30px;
}

main .about_02_02 .about_wrap_02 .wrap .content_01 .detail_main_caption figcaption ul .caption_04 {
  margin-top: 10px;
}

main .about_02_02 .about_wrap_02 .wrap .content_01 .detail_main_caption figcaption ul .caption_05 {
  margin-top: 10px;
}

main .about_02_02 .about_wrap_02 .wrap .content_01 .detail_main_caption figcaption ul .caption_more {
  display: inline-block;
  font-size: 20px;
  padding: 20px 40px;
  border: 1px solid #ddd;
  margin-top: 40px;
  -webkit-transition: .3s;
  transition: .3s;
  color: #222;
}

main .about_02_02 .about_wrap_02 .wrap .content_01 .detail_main_caption figcaption ul .caption_more:hover {
  background: #112d4e;
  color: #fff;
  cursor: pointer;
}

main .about_02_02 .about_wrap_02 .wrap .content_02 table {
  margin-top: 120px;
  width: 100%;
}

main .about_02_02 .about_wrap_02 .wrap .content_02 table tr {
  border: 1px solid #fff;
}

main .about_02_02 .about_wrap_02 .wrap .content_02 table tr td:nth-of-type(1), main .about_02_02 .about_wrap_02 .wrap .content_02 table tr td:nth-of-type(3) {
  background: #112d4e;
  padding: 20px 20px;
  width: 10%;
  text-align: center;
  color: #fff;
}

main .about_02_02 .about_wrap_02 .wrap .content_02 table tr td:nth-of-type(2), main .about_02_02 .about_wrap_02 .wrap .content_02 table tr td:nth-of-type(4) {
  border: 1px solid #ddd;
  padding-left: 40px;
  width: 300px;
}

main .about_02_02 .about_wrap_03 {
  width: 70%;
  margin: 0 auto;
}

main .about_02_02 .about_wrap_03 .content_title {
  margin-top: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding-bottom: 24px;
}

main .about_02_02 .about_wrap_03 .content_title figcaption {
  font-size: 24px;
  font-weight: bold;
  color: #112d4e;
}

main .about_02_02 .about_wrap_03 .content_main {
  margin-top: 40px;
}

main .about_02_02 .about_wrap_03 .content_main img {
  width: 100%;
}

main .about_02_02 .about_wrap_04 {
  width: 70%;
  margin: 0 auto;
}

main .about_02_02 .about_wrap_04 .content_title {
  margin-top: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding-bottom: 24px;
}

main .about_02_02 .about_wrap_04 .content_title figcaption {
  font-size: 24px;
  font-weight: bold;
  color: #112d4e;
}

main .about_02_02 .about_wrap_04 .content_main {
  margin-top: 40px;
}

main .about_02_02 .about_wrap_04 .content_main .content_table_01 {
  width: 100%;
  text-align: center;
}

main .about_02_02 .about_wrap_04 .content_main .content_table_01 caption {
  display: none;
}

main .about_02_02 .about_wrap_04 .content_main .content_table_01 tr, main .about_02_02 .about_wrap_04 .content_main .content_table_01 th, main .about_02_02 .about_wrap_04 .content_main .content_table_01 td {
  border: 1px solid #ddd;
  padding: 20px;
  vertical-align: middle;
}

main .about_02_02 .about_wrap_04 .content_main .content_table_01 .table_detail_01 th {
  font-size: 20px;
  padding: 20px 30px;
  background: #112d4e;
  color: #fff;
}

main .about_02_02 .about_wrap_04 .content_main .content_table_01 .table_detail_02 td figure {
  width: 230px;
  height: 200px;
  margin: 25px auto;
}

main .about_02_02 .about_wrap_04 .content_main .content_table_01 .table_detail_02 td figure img {
  width: 100%;
}

main .about_02_02 .about_wrap_05 {
  width: 70%;
  margin: 0 auto;
}

main .about_02_02 .about_wrap_05 .content_title {
  margin-top: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding-bottom: 24px;
}

main .about_02_02 .about_wrap_05 .content_title figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #112d4e;
}

main .about_02_02 .about_wrap_05 .content_title figcaption .content_title_sub_01 {
  font-size: 16px;
  color: #666;
  font-weight: 400;
}

main .about_02_02 .about_wrap_05 .content_main {
  margin-top: 40px;
}

main .about_02_02 .about_wrap_05 .content_main .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .about_02_02 .about_wrap_05 .content_main .wrap .content_01 ul {
  position: relative;
  width: 550px;
  height: 500px;
}

main .about_02_02 .about_wrap_05 .content_main .wrap .content_01 ul li:not(:first-of-type) {
  position: absolute;
  z-index: 10;
}

main .about_02_02 .about_wrap_05 .content_main .wrap .content_01 ul .map_pointer_01 {
  left: 224px;
  top: 72px;
}

main .about_02_02 .about_wrap_05 .content_main .wrap .content_01 ul .map_pointer_02 {
  left: 187px;
  top: 108px;
}

main .about_02_02 .about_wrap_05 .content_main .wrap .content_01 ul .map_pointer_03 {
  left: 72px;
  top: 276px;
}

main .about_02_02 .about_wrap_05 .content_main .wrap .content_01 ul .map_pointer_04 {
  right: 28px;
  top: 235px;
}

main .about_02_02 .about_wrap_05 .content_main .wrap .content_01 ul .point a > svg > path {
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}

main .about_02_02 .about_wrap_05 .content_main .wrap .content_01 ul .point:hover a > svg > path {
  fill: #112d4e;
}

main .about_02_02 .about_wrap_05 .content_main .wrap .content_01 ul .point.active a > svg > path {
  fill: #112d4e;
}

main .about_02_02 .about_wrap_05 .content_main .wrap .content_02 {
  width: 500px;
}

main .about_02_02 .about_wrap_05 .content_main .wrap .content_02 > ul > li {
  border-bottom: 1px solid #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
}

main .about_02_02 .about_wrap_05 .content_main .wrap .content_02 > ul > li .content_text {
  line-height: 1.5rem;
  padding-bottom: 15px;
}

main .about_02_02 .about_wrap_05 .content_main .wrap .content_02 > ul > li .content_text p {
  font-size: 20px;
}

main .about_02_02 .about_wrap_05 .content_main .wrap .content_02 > ul > li .content_text i {
  color: #666;
}

main .about_02_02 .about_wrap_05 .content_main .wrap .content_02 > ul > li .content_ico figure .map_pointer {
  -webkit-transition: .3s;
  transition: .3s;
}

main .about_02_02 .about_wrap_05 .content_main .wrap .content_02 > ul > li .content_ico figure .map_svg:hover .map_pointer {
  fill: #112d4e;
}

main .about_02_02 .about_wrap_05 .content_main .wrap .content_02 > ul > li .content_ico figure .map_svg.active .map_pointer {
  fill: #112d4e;
}

main .about_02_02 .about_wrap_06 {
  width: 70%;
  margin: 0 auto;
}

main .about_02_02 .about_wrap_06 .content_title {
  margin-top: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding-bottom: 24px;
}

main .about_02_02 .about_wrap_06 .content_title figcaption {
  font-size: 24px;
  font-weight: bold;
  color: #112d4e;
}

main .about_02_02 .about_wrap_06 .content_main {
  margin-top: 40px;
}

main .about_02_02 .about_wrap_06 .content_main .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .about_02_02 .about_wrap_06 .content_main .wrap .content_01 figure {
  width: 710px;
  height: 530px;
}

main .about_02_02 .about_wrap_06 .content_main .wrap .content_01 figure img {
  width: 100%;
}

main .about_02_02 .about_wrap_06 .content_main .wrap .content_02 {
  margin-left: 60px;
}

main .about_02_02 .about_wrap_06 .content_main .wrap .content_02 ul .content_02_wrap {
  margin: 20px 0;
}

main .about_02_02 .about_wrap_06 .content_main .wrap .content_02 ul .content_02_wrap > li:not(:first-of-type) {
  margin-top: 10px;
}

main .about_02_02 .about_wrap_06 .content_main .wrap .content_02 ul .content_02_wrap > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .about_02_02 .about_wrap_06 .content_main .wrap .content_02 ul .content_02_wrap > li strong {
  width: 60px;
  text-align: right;
  margin: 2.5px 30px 0 0;
  color: #112d4e;
  font-weight: bold;
}

main .about_02_02 .about_wrap_06 .content_main .wrap .content_02 ul .content_02_wrap > li .content_02_detail > li {
  padding-left: 30px;
  border-left: 1px solid #ddd;
  margin-top: 2.5px;
}

main .about_02_02 .about_wrap_06 .content_main .wrap .content_02 a {
  margin-top: 50px;
  padding: 15px 30px;
  border: 1px solid #ddd;
  display: inline-block;
  color: #222;
  -webkit-transition: .3s;
  transition: .3s;
}

main .about_02_02 .about_wrap_06 .content_main .wrap .content_02 a:hover {
  background: #112d4e;
  color: #fff;
  cursor: pointer;
}

main .about_02_03 .about_wrap_01 {
  position: relative;
}

main .about_02_03 .about_wrap_01 .wrap > figure {
  position: relative;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: no-repeat center/cover url("../images/about_visual_01.png");
}

main .about_02_03 .about_wrap_01 .wrap > figure figcaption {
  position: absolute;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
}

main .about_02_03 .about_wrap_01 .wrap > figure figcaption .textbox_title {
  font-size: 52px;
}

main .about_02_03 .about_wrap_02 {
  width: 70%;
  margin: 0 auto;
}

main .about_02_03 .about_wrap_02 .form_wrap {
  margin: 150px auto 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 30px;
}

main .about_02_03 .about_wrap_02 .form_wrap .form_01 form fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .about_02_03 .about_wrap_02 .form_wrap .form_01 form fieldset legend {
  display: none;
}

main .about_02_03 .about_wrap_02 .form_wrap .form_01 form fieldset .form_01_title {
  font-size: 18px;
  font-weight: 500;
}

main .about_02_03 .about_wrap_02 .form_wrap .form_01 form fieldset .form_01_selectbox select {
  border: 1px solid #ddd;
  margin-left: 10px;
  width: 180px;
  height: 40px;
}

main .about_02_03 .about_wrap_02 .form_wrap .form_02 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .about_02_03 .about_wrap_02 .form_wrap .form_02 form fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .about_02_03 .about_wrap_02 .form_wrap .form_02 form fieldset legend {
  display: none;
}

main .about_02_03 .about_wrap_02 .form_wrap .form_02 form fieldset .form_02_selectbox select {
  border: 1px solid #ddd;
  height: 40px;
}

main .about_02_03 .about_wrap_02 .form_wrap .form_02 form fieldset .form_02_selectbox input[type=text] {
  height: 40px;
  width: 220px;
  border: 1px solid #ddd;
}

main .about_02_03 .about_wrap_02 .form_wrap .form_02 form fieldset .form_02_selectbox input[type=submit] {
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
}

main .about_02_03 .about_wrap_02 .table_notice {
  width: 100%;
  margin: 0 auto;
}

main .about_02_03 .about_wrap_02 .table_notice thead {
  border-top: 1px solid #222;
  border-bottom: 1px solid #666;
}

main .about_02_03 .about_wrap_02 .table_notice thead tr th {
  padding: 20px 0;
  text-align: center;
}

main .about_02_03 .about_wrap_02 .table_notice tbody tr td {
  text-align: center;
  padding: 20px 15px;
}

main .about_02_03 .about_wrap_02 .table_notice tbody tr td:nth-of-type(1) {
  color: #222;
}

main .about_02_03 .about_wrap_02 .table_notice tbody tr td:nth-of-type(2) p {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #dfac3f;
  color: #dfac3f;
}

main .about_02_03 .about_wrap_02 .table_notice tbody tr td:nth-of-type(3) a {
  color: #222;
}

main .about_02_03 .about_wrap_02 .table_notice tbody tr td:nth-of-type(4) a {
  color: #666;
}

main .about_02_03 .about_wrap_02 .table_notice tbody tr td:nth-of-type(5) {
  color: #666;
}

main .about_02_03 .about_wrap_02 .table_notice_more {
  margin: 40px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main .about_02_03 .about_wrap_02 .table_notice_more > a {
  display: inline-block;
  padding: 10px 10px;
  color: #112d4e;
  border: 1px solid #112d4e;
  -webkit-transition: .3s;
  transition: .3s;
}

main .about_02_03 .about_wrap_02 .table_notice_more > a:hover {
  color: #fff;
  background: #112d4e;
}

main .about_02_03 .about_wrap_02 .table_notice_more_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .about_02_03 .about_wrap_02 .table_notice_more_btn .num_box a {
  display: inline-block;
  padding-right: 30px;
}

main .about_02_03 .about_wrap_02 .table_notice_more_btn .btn_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .about_02_03 .about_wrap_02 .table_notice_more_btn .btn_box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  border: 1px solid #ddd;
  margin: 0 5px;
}
