@import url("../../css/common.css");
@import url("init.css");

.text_pointing {
    width: 10px;
    height: 17px;
    margin-right: 6px;
}

main {
    > div {
        margin-top: 80px;
    }

    .about_02_01 {
        // about_02_01 about_wrap_01
        .about_wrap_01 {
            position: relative;

            .wrap {
                >figure {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 350px;
                    background: no-repeat center/cover url('../images/about_visual_01.png');
                    figcaption {
                        position: absolute;
                        left: 0; top: 0;
                        display: flex;
                        width: 100%;
                        height: 100%;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        color: #fff;

                        .textbox_title {
                            font-size: 52px;
                        }

                        .textbox_sub {}
                    }
                }
            }

        }

        // about_02_01 about_wrap_02
        .about_wrap_02 {
            margin-top: 150px;
            text-align: center;

            .wrap {
                display: inline-block;
                position: relative;

                #quick_search {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    input {
                        width: 600px;
                        font-size: 20px;
                        border: none;
                        border-bottom: 1px solid #000;
                        padding-bottom: 15px;
                    }

                    button {
                        cursor: pointer;
                        border: none;
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        background: none;
                        -webkit-transform: translateY(-50%);
                        -moz-transform: translateY(-50%);
                        -ms-transform: translateY(-50%);
                        -o-transform: translateY(-50%);
                    }
                }
            }
        }

        // about_02_01 about_wrap_03
        .about_wrap_03 {
            width: 70%;
            margin: 0 auto;

            .wrap {

                // border: 1px solid #f00;
                >ul {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;

                    .home_box {
                        display: flex;
                        justify-content: center;
                        width: 33%;
                        margin-top: 120px;

                        .home_content {
                            width: 90%;

                            .home_img {
                                width: 100%;
                                height: 290px;
                                overflow: hidden;
                                img {
                                    width: 100%; height: 100%;
                                }
                            }

                            .home_detail {
                                p:nth-of-type(1) {
                                    padding-top: 30px;
                                    font-size: 24px;
                                }

                                p:nth-of-type(2) {
                                    padding-top: 12px;
                                }

                                p:last-child {
                                    padding-top: 40px;
                                    display: flex;

                                    a {
                                        width: 50%;
                                        padding: 1rem 3.75rem;
                                        border: 1px solid #000;
                                        transition: .3s;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        color: #666;

                                        &:hover {
                                            background: #112d4e;
                                            color: #fff;
                                            cursor: pointer;
                                        }
                                    }

                                    a:nth-of-type(1) {}

                                    a:nth-of-type(2) {
                                        border-left: none;
                                    }
                                }
                            }
                        }

                    }
                }

            }
        }
    }


    .about_02_02 {
 
         // about_02_02 .about_wrap_01
        .about_wrap_01{
            position: relative;
            .wrap{
                > figure {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 350px;
                    background: no-repeat center/cover url('../images/about_visual_01.png');
                    figcaption{
                        position: absolute;
                        left:0; top:0;
                        display: flex;
                        width: 100%; height: 100%;
                        align-items: center; justify-content: center;
                        flex-direction: column;
                        color: #fff;
                        .textbox_title{
                            font-size: 52px;
                        }
                        .textbox_sub{}
                    }
                }
            }

        }

        // about_02_02 .about_wrap_02
        .about_wrap_02{
            width: 70%; margin: 150px auto 0;
            .wrap {
                .content_01{
                display: flex;
                .detail_main_visual_01{
                    width: 710px; height: 530px;
                    img {
                        width: 100%;
                    }
                }
                
                .detail_main_caption{
                    figcaption{
                        padding: 40px 0 0 60px;
                        
                        ul {
                            li{
                            }
                            .caption_01{
                                font-size: 36px;
                            }
                            .caption_02{
                                margin-top: 32px;
                                font-size: 24px;
                                padding-bottom: 24px;
                                border-bottom: 1px solid #ddd;
                                color: #112d4e;
                            }
                            .caption_03, .caption_04, .caption_05{
                                list-style-type: disc;
                            }
                            .caption_03{
                                margin-top: 30px;
                            }
                            .caption_04{
                                margin-top: 10px;
                            }
                            .caption_05{
                                margin-top: 10px;
                            }
                            .caption_more{
                                display: inline-block;font-size: 20px; padding: 20px 40px; border: 1px solid #ddd;
                                margin-top: 40px;
                                transition: .3s;
                                color: #222;
                                &:hover{
                                    background: #112d4e;
                                    color: #fff;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }
            .content_02{
                table {
                    margin-top: 120px;
                    width:100%;
                    tr{
                        border: 1px solid #fff;
                        td:nth-of-type(1), td:nth-of-type(3){
                            background: #112d4e;
                            padding: 20px 20px;
                            width:10%;
                            text-align: center;
                            color: #fff;
                        }
                        td:nth-of-type(2), td:nth-of-type(4){
                            border: 1px solid #ddd;
                            padding-left: 40px;
                            width: 300px
                        }
                    }
                }
            }
            }
        }

        // about_02_02 .about_wrap_03
        .about_wrap_03{
            width: 70%; margin: 0 auto;
            .content_title{
                margin-top: 140px;
                display: flex;
                width:100%;
                border-bottom: 1px solid #ddd;
                padding-bottom: 24px;
                figcaption{
                    font-size: 24px;
                    font-weight: bold;
                    color: #112d4e;
                }
            }
            .content_main{
                margin-top: 40px;
                img {
                    width: 100%;
                }
            }
        }

        // about_02_02 .about_wrap_04
        .about_wrap_04{
            width: 70%; margin: 0 auto;
            .content_title{
                margin-top: 140px;
                display: flex;
                width:100%;
                border-bottom: 1px solid #ddd;
                padding-bottom: 24px;
                figcaption{
                    font-size: 24px;
                    font-weight: bold;
                    color: #112d4e;
                }
            }
            .content_main{
                margin-top: 40px;
                .content_table_01{
                    width: 100%;
                    text-align: center;
                    caption{display: none;}
                    tr,th,td {border: 1px solid #ddd; padding:20px; vertical-align: middle;}

                    
                    .table_detail_01{
                        th{font-size: 20px; padding:20px 30px; background: #112d4e; color: #fff;}
                    }
                    .table_detail_02{
                        td{
                            figure{
                                width: 230px; height:200px;
                                margin: 25px auto;
                                img{
                                    width:100%;
                                }
                            }
                        }
                    }

                }
            }
        }

        // about_02_02 .about_wrap_05
        .about_wrap_05{
            width: 70%; margin: 0 auto;
            .content_title{
                margin-top: 140px;
                display: flex;
                width:100%;
                border-bottom: 1px solid #ddd;
                padding-bottom: 24px;
                figcaption{
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 24px;
                    font-weight: bold;
                    color: #112d4e;
                    .content_title_sub_01{
                        font-size: 16px;
                        color:#666;
                        font-weight: 400;
                    }
                }
            }
            .content_main{
                margin-top: 40px;
                .wrap{
                    display: flex;
                    justify-content: space-around;
                    .content_01{
                        ul{
                            position: relative;
                            width: 550px; height: 500px;
                            li:not(:first-of-type) {
                                position: absolute;
                                z-index: 10;
                            }
                            .map_pointer_01{
                                left: 224px; top: 72px;
                            }
                            .map_pointer_02{
                                left: 187px; top: 108px;
                            }
                            .map_pointer_03{
                                left: 72px; top: 276px;
                            }
                            .map_pointer_04{
                                right: 28px; top: 235px;
                            }
                            
                            .point a > svg > path{
                                transition: .3s;
                                -webkit-transition: .3s;
                                -moz-transition: .3s;
                                -ms-transition: .3s;
                                -o-transition: .3s;
    }
                            .point:hover a > svg > path{
                                fill: #112d4e;
                            }
                            .point.active a > svg > path{
                                fill: #112d4e;
                            }
                        }
                    }

                    .content_02{
                        width: 500px;
                        > ul {
                            > li {
                                border-bottom: 1px solid #ddd;
                                display: flex;
                                justify-content: space-between;
                                margin-top: 15px;
                                .content_text{
                                    line-height: 1.5rem;
                                    padding-bottom: 15px;
                                    p{
                                        font-size: 20px;
                                    }
                                    i{
                                        color: #666;
                                    }
                                }
                                .content_ico{
                                    figure{
                                        .map_pointer{transition: .3s;}
                                        .map_svg:hover .map_pointer{
                                            fill: #112d4e;
                                        }
                                        .map_svg.active .map_pointer{
                                            fill: #112d4e;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        // about_02_02 .about_wrap_06
        .about_wrap_06{
            width: 70%; margin: 0 auto;
            .content_title{
                margin-top: 140px;
                display: flex;
                width:100%;
                border-bottom: 1px solid #ddd;
                padding-bottom: 24px;
                figcaption{
                    font-size: 24px;
                    font-weight: bold;
                    color: #112d4e;
                }
            }
            .content_main{
                margin-top: 40px;
                .wrap{
                    display: flex;
                    .content_01{
                        figure{
                            width: 710px; height: 530px;
                            img{
                                width: 100%;
                            }
                        }
                    }

                    .content_02{
                        margin-left: 60px;
                        ul{
                            .content_02_wrap{
                                margin: 20px 0;
                                > li:not(:first-of-type) {
                                    margin-top: 10px;
                                }
                                > li{
                                    display: flex;

                                    strong{
                                        width: 60px; text-align: right; margin: 2.5px 30px 0 0;
                                        color: #112d4e;
                                        font-weight: bold;
                                    }
                                    .content_02_detail{
                                        > li{
                                            padding-left: 30px;
                                            border-left: 1px solid #ddd;
                                            margin-top: 2.5px;
                                        }
                                    }
                                }
                            }
                        }
                        a{
                            margin-top: 50px;
                            padding: 15px 30px;
                            border: 1px solid #ddd;
                            display: inline-block;
                            color: #222;
                            transition: .3s;
                            &:hover{
                                background: #112d4e;
                                color: #fff;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }

    .about_02_03 {

         // about_02_03 .about_wrap_01
        .about_wrap_01{
            position: relative;
            .wrap{
                > figure {
                    position: relative;
                    height: 350px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: no-repeat center/cover url('../images/about_visual_01.png');
                    figcaption{
                        position: absolute;
                        left:0; top:0;
                        display: flex;
                        width: 100%; height: 100%;
                        align-items: center; justify-content: center;
                        flex-direction: column;
                        color: #fff;
                        .textbox_title{
                            font-size: 52px;
                        }
                        .textbox_sub{}
                    }
                }
            }
    
        }
    
         // about_02_03 .about_wrap_02
        .about_wrap_02{
            width: 70%; margin: 0 auto;
            .form_wrap{
                margin: 150px auto 10px;
                // border: 1px solid #F00;
                display: flex;
                justify-content: space-between;
                padding-left: 30px;
                
                .form_01{
                    form{
                        fieldset{
                            legend{display: none;}
                            display: flex;
                            align-items: center;
                            .form_01_title {
                                font-size: 18px;
                                font-weight: 500;
                            }
                            .form_01_selectbox{
                                select{
                                    border: 1px solid #ddd;
                                    margin-left: 10px;
                                    width: 180px;
                                    height: 40px;
                                }
                            }
                        }
                    }
                }
                .form_02{
                    display: flex;
                    align-items: center;
                    form{
                        fieldset{
                            legend{display: none;}
                            display: flex;
                            align-items: center;
                            .form_02_selectbox{
                                select{
                                    border: 1px solid #ddd;
                                    height: 40px;
    
                                }
                                input[type=text]{
                                    height: 40px;
                                    width: 220px;
                                    border: 1px solid #ddd;
    
                                }
                                input[type=submit]{
                                    background: #000; color: #fff;border: none;
                                    padding: 10px 20px;
                                }
                            }
                        }
                    }
                }
                
            }
            
            .table_notice {
                width: 100%;
                margin: 0 auto;
                thead{
                    border-top: 1px solid #222;
                    border-bottom: 1px solid #666;
                    tr{
                        th{
                            padding: 20px 0;
                            text-align: center;
                        }
                        th:nth-of-type(1){
    
                        }
                        // th:nth-of-type(2){width:110px}
                        // th:nth-of-type(3){width:560px}
                        // th:nth-of-type(4){width:360px}
                        // th:nth-of-type(5){width:100px}
                    }
                }
                tbody{
                    tr{
                        td{
                            text-align: center;
                            padding: 20px 15px;
                        }
                        td:nth-of-type(1){
                            color: #222;
                        }
                        td:nth-of-type(2){
                            p{
                                display: inline-block;
                                padding: 5px 10px;
                                border: 1px solid #dfac3f;
                                color: #dfac3f;
                            }
                        }
                        td:nth-of-type(3){
                            a{
                                color: #222;
                            }
                        }
                        td:nth-of-type(4){
                            a{
                                color: #666;
                            }
    
                        }
                        td:nth-of-type(5){
                            color: #666;
                        }
                    }
                }
            }
            .table_notice_more{
                margin:40px auto 0;
                display: flex;
                justify-content: flex-end;
                > a {
                    display: inline-block;
                    padding: 10px 10px;   
                    color:  #112d4e;
                    border: 1px solid #112d4e;
                    transition: .3s;
                    &:hover{
                        color: #fff;
                        background: #112d4e;
                    }
                }
            }
            .table_notice_more_btn{
                display: flex;
                justify-content: center;
                align-items: center;
                .num_box{
                    a{display: inline-block; padding-right: 30px;}
                }
                .btn_box{
                    display: flex;
                    a{
                        display: flex;
                        align-items: center; justify-content: center;
                        padding: 5px;
                        border: 1px solid #ddd;
                        margin: 0 5px;
                    }
    
                }
            }
        }
    }
}