header {
  max-width: 2560px;
  margin: 0 auto;
  z-index: 9999;
  position: relative;
  height: 80px;
}

header > .header_wrap {
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

header > .header_wrap > nav {
  height: 100%;
}

header > .header_wrap nav a {
  display: block;
}

header > .header_wrap .header_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header > .header_wrap .header_center > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  height: 100%;
}

header > .header_wrap .header_center > ul > li {
  position: relative;
}

header > .header_wrap .header_center > ul > li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 0 1rem;
  color: #000;
  font-family: "AppleSDGothicNeoM";
  word-break: keep-all;
}

header > .header_wrap .header_center > ul > li .depth_01 {
  z-index: 10000;
  display: none;
  position: absolute;
  left: -50%;
  top: 100%;
  width: 200%;
  text-align: center;
  border-radius: 10px;
}

header > .header_wrap .header_center > ul > li .depth_01 > li {
  background: rgba(255, 255, 255, 0.7);
  -webkit-transition: .1s;
  transition: .1s;
}

header > .header_wrap .header_center > ul > li .depth_01 > li > a {
  font-size: .9rem;
  color: #222;
  padding: 10px 0;
}

header > .header_wrap .header_center > ul > li .depth_01 > li:hover {
  background: #112d4e;
}

header > .header_wrap .header_center > ul > li .depth_01 > li:hover a {
  color: #fff;
}

header > .header_wrap .header_center > ul > li:hover .depth_01 {
  display: block;
}

header > .header_wrap .header_right {
  position: relative;
  width: 22px;
  height: 22px;
}

header > .header_wrap .header_right span {
  position: absolute;
  left: 0;
  display: block;
  width: 22px;
  border-bottom: 2px solid #000;
  -webkit-transition: .3s;
  transition: .3s;
}

header > .header_wrap .header_right span:nth-of-type(1) {
  top: 0;
}

header > .header_wrap .header_right span:nth-of-type(2) {
  top: calc(50% - 1px);
}

header > .header_wrap .header_right span:nth-of-type(3) {
  bottom: 0;
}

header > .header_wrap .header_right:nth-of-type(3):hover span:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: calc(50% - 1px);
}

header > .header_wrap .header_right:nth-of-type(3):hover span:nth-of-type(2) {
  opacity: 0;
}

header > .header_wrap .header_right:nth-of-type(3):hover span:nth-of-type(3) {
  transform: rotate(-45deg);
  bottom: calc(50% - 1px);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

header > .header_wrap .header_navi {
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 9999;
  width: 100%;
  background: #112d4e;
  color: #fff;
  font-family: 'AppleSDGothicNeoM';
  display: none;
}

header > .header_wrap .header_navi a {
  color: #fff;
}

header > .header_wrap .header_navi .header_navi_wrap {
  width: 70%;
  height: 100%;
  margin: 0 auto;
}

header > .header_wrap .header_navi .header_navi_wrap .sub_gnb {
  height: 100%;
}

header > .header_wrap .header_navi .header_navi_wrap .sub_gnb > ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header > .header_wrap .header_navi .header_navi_wrap .sub_gnb > ul .depth_01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

header > .header_wrap .header_navi .header_navi_wrap .sub_gnb > ul .depth_01 > .depth_nav {
  padding-left: 20px;
  padding-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  position: relative;
}

header > .header_wrap .header_navi .header_navi_wrap .sub_gnb > ul .depth_01 > .depth_nav svg {
  -webkit-transition: .3s;
  transition: .3s;
}

header > .header_wrap .header_navi .header_navi_wrap .sub_gnb > ul .depth_01 > .depth_nav svg:hover {
  fill: #fff;
  color: transparent;
}

header > .header_wrap .header_navi .header_navi_wrap .sub_gnb > ul .depth_01 > .depth_nav::after {
  content: '';
  height: 20px;
  border-right: 1px solid #ddd;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

header > .header_wrap .header_navi .header_navi_wrap .sub_gnb > ul .depth_01 > .depth_nav .arrow {
  margin-left: 80px;
}

header > .header_wrap .header_navi .header_navi_wrap .sub_gnb > ul .depth_01 > .depth_nav .arrow img {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

header > .header_wrap .header_navi .header_navi_wrap .sub_gnb > ul .depth_01 .depth_02 {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  text-align: center;
}

header > .header_wrap .header_navi .header_navi_wrap .sub_gnb > ul .depth_01 .depth_02 > li {
  background: rgba(17, 45, 78, 0.7);
  -webkit-transition: .1s;
  transition: .1s;
}

header > .header_wrap .header_navi .header_navi_wrap .sub_gnb > ul .depth_01 .depth_02 > li:hover {
  background: #fff;
}

header > .header_wrap .header_navi .header_navi_wrap .sub_gnb > ul .depth_01 .depth_02 > li:hover a {
  color: #000;
}

header > .header_wrap .header_navi .header_navi_wrap .sub_gnb > ul .depth_01 .depth_02 > li a {
  padding: 10px 0;
}

header > .header_wrap .header_navi .header_navi_wrap .sub_gnb > ul .depth_01:hover {
  overflow: visible;
}

header > .header_wrap .header_navi.active {
  display: block;
}

.footer {
  margin-top: 100px;
  background: #000;
  color: #ddd;
  -webkit-transition: .3s;
  transition: .3s;
}

.footer .footer_wrap {
  width: 70%;
  margin: 0 auto;
  padding: 40px;
}

.footer .footer_wrap > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer_wrap > ul .footer_left {
  padding-right: 30px;
  border-right: 1px solid #ddd;
}

.footer .footer_wrap > ul .footer_left h2 {
  width: 210px;
  height: 43px;
}

.footer .footer_wrap > ul .footer_left h2 a img {
  width: 100%;
}

.footer .footer_wrap > ul .footer_right {
  padding-left: 30px;
}

.footer .footer_wrap > ul .footer_right > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .footer_wrap > ul .footer_right > ul li {
  margin-left: 30px;
}

.footer .footer_wrap > ul .footer_right > ul li a {
  color: #fff;
}

@media screen and (max-width: 1440px) {
  header > .header_wrap {
    width: 70%;
    margin: 0 auto;
  }
  header > .header_wrap .header_center > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1rem;
  }
  header > .header_wrap .header_center > ul > a {
    font-size: .9rem;
    padding: 0 1rem;
  }
  header > .header_wrap .header_right {
    width: 20px;
    height: 20px;
  }
  header > .header_wrap .header_right span {
    width: 20px;
  }
  .footer {
    font-size: .9em;
  }
  .footer .footer_wrap {
    padding: 20px 0;
  }
  .footer .footer_wrap > ul .footer_left {
    padding-right: 30px;
  }
  .footer .footer_wrap > ul .footer_left h2 {
    width: 200px;
    height: 40px;
  }
  .footer .footer_wrap > ul .footer_right {
    padding-left: 30px;
  }
}

@media screen and (max-width: 1023px) {
  header > .header_wrap {
    width: 70%;
    margin: 0 auto;
  }
  header > .header_wrap .header_center > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1rem;
  }
  header > .header_wrap .header_center > ul > li > a {
    font-size: .9em;
    padding: 0 .9rem;
  }
  header > .header_wrap .header_right {
    width: 20px;
    height: 20px;
  }
  header > .header_wrap .header_right span {
    width: 20px;
  }
  .footer {
    font-size: .7em;
  }
  .footer .footer_wrap {
    padding: 20px 0;
  }
  .footer .footer_wrap > ul .footer_left {
    padding-right: 30px;
  }
  .footer .footer_wrap > ul .footer_left h2 {
    width: 150px;
    height: 30px;
  }
  .footer .footer_wrap > ul .footer_right {
    padding-left: 30px;
  }
}

@media screen and (max-width: 767px) {
  header > .header_wrap {
    width: 100%;
    margin: 0 auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-transition: .3s;
    transition: .3s;
  }
  header > .header_wrap .header_center > ul {
    display: none;
  }
  header > .header_wrap .header_right {
    width: 20px;
    height: 20px;
  }
  header > .header_wrap .header_right span {
    width: 20px;
  }
  .footer {
    font-size: .6em;
  }
  .footer .footer_wrap {
    padding: 20px 0;
  }
  .footer .footer_wrap > ul .footer_left {
    padding-right: 30px;
  }
  .footer .footer_wrap > ul .footer_left h2 {
    width: 100px;
    height: 30px;
  }
  .footer .footer_wrap > ul .footer_right {
    padding-left: 30px;
  }
}

@media screen and (max-width: 479px) {
  header > .header_wrap {
    width: 100%;
    margin: 0 auto;
  }
  header > .header_wrap .header_left {
    margin-left: 10px;
  }
  header > .header_wrap .header_center > ul {
    display: none;
  }
  header > .header_wrap .header_center > ul > li > a {
    font-size: .8em;
    padding: 0 20px;
  }
  header > .header_wrap .header_right {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  header > .header_wrap .header_right span {
    width: 20px;
  }
  .footer {
    font-size: .4em;
  }
  .footer .footer_wrap {
    padding: 20px 0;
  }
  .footer .footer_wrap > ul .footer_left {
    padding-right: 30px;
  }
  .footer .footer_wrap > ul .footer_left h2 {
    width: 100px;
    height: 30px;
  }
  .footer .footer_wrap > ul .footer_right {
    padding-left: 0;
  }
}
