// header
header {
    // min-width: 1900px;
    max-width: 2560px;
    margin: 0 auto;
    z-index: 9999;
    position: relative;
    height: 80px;


    >.header_wrap {
        width: 70%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        >nav {
            height: 100%;

        }

        nav a {
            display: block;
        }

        // header_left
        .header_left {
            display: flex;
            align-items: center;

            >a {}
        }

        // header_center 
        .header_center {
            >ul {
                display: flex;
                font-size: 18px;
                height: 100%;

                >li {
                    position: relative;

                    >a {
                        display: flex;
                        align-items: center;
                        height: 100%;
                        padding: 0 1rem;
                        color: #000;
                        font-family: "AppleSDGothicNeoM";
                        word-break: keep-all;
                    }

                    .depth_01 {
                        z-index: 10000;
                        display: none;
                        position: absolute;
                        left: -50%;
                        top: 100%;
                        width: 200%;
                        text-align: center;
                        border-radius: 10px;

                        >li {
                            background: rgba($color: #fff, $alpha: .7);
                            transition: .1s;

                            >a {
                                font-size: .9rem;
                                color: #222;
                                padding: 10px 0;

                            }

                            &:hover {
                                background: #112d4e;

                                a {
                                    color: #fff;
                                }
                            }
                        }
                    }

                    &:hover .depth_01 {
                        display: block;
                    }
                }
            }
        }

        // header_right 
        .header_right {
            position: relative;
            width: 22px;
            height: 22px;

            span {
                position: absolute;
                left: 0;
                display: block;
                width: 22px;
                border-bottom: 2px solid #000;
                transition: .3s;

                &:nth-of-type(1) {
                    top: 0;
                }

                &:nth-of-type(2) {
                    top: calc(50% - 1px);
                }

                &:nth-of-type(3) {
                    bottom: 0;
                }
            }

            &:nth-of-type(3):hover span:nth-of-type(1) {
                transform: rotate(45deg);
                top: calc(50% - 1px);
            }

            &:nth-of-type(3):hover span:nth-of-type(2) {
                opacity: 0;
            }

            &:nth-of-type(3):hover span:nth-of-type(3) {
                transform: rotate(-45deg);
                bottom: calc(50% - 1px);
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
            }
        }

        .header_navi {
            position: absolute;
            left: 0;
            top: 100%;
            z-index: 9999;
            width: 100%;
            background: #112d4e;
            color: #fff;
            font-family: 'AppleSDGothicNeoM';
            display: none;

            a {
                color: #fff;
            }

            .header_navi_wrap {
                width: 70%;
                height: 100%;
                margin: 0 auto;

                .sub_gnb {
                    height: 100%;

                    >ul {
                        height: 100%;
                        display: flex;

                        .depth_01 {
                            display: flex;
                            position: relative;
                            align-items: center;
                            overflow: hidden;

                            >.depth_nav {
                                padding-left: 20px;
                                padding-right: 30px;
                                display: flex;
                                align-items: center;
                                height: 100%;
                                position: relative;

                                svg {
                                    transition: .3s;

                                    &:hover {
                                        fill: #fff;
                                        color: transparent;
                                    }
                                }

                                &::after {
                                    content: '';
                                    height: 20px;
                                    border-right: 1px solid #ddd;
                                    position: absolute;
                                    right: 0;
                                    top: 50%;
                                    transform: translateY(-50%);
                                }

                                .arrow {
                                    margin-left: 80px;

                                    img {
                                        transform: rotate(90deg);
                                    }
                                }
                            }

                            .depth_02 {
                                position: absolute;
                                left: 0;
                                top: 100%;
                                width: 100%;
                                text-align: center;

                                >li {
                                    background: rgba($color: #112d4e, $alpha: .7);
                                    transition: .1s;

                                    &:hover {
                                        background: #fff;

                                        a {
                                            color: #000;
                                        }
                                    }

                                    a {
                                        padding: 10px 0;
                                    }
                                }
                            }

                            &:hover {
                                overflow: visible;
                            }
                        }
                    }
                }
            }
        }

        .header_navi.active {
            display: block;
        }
    }
}

// footer
.footer {
    margin-top: 100px;
    background: #000;
    color: #ddd;
    transition: .3s;

    .footer_wrap {
        width: 70%;
        margin: 0 auto;
        padding: 40px;

        >ul {
            display: flex;
            align-items: center;

            .footer_left {
                padding-right: 30px;
                border-right: 1px solid #ddd;

                h2 {
                    width: 210px;
                    height: 43px;

                    a {
                        img {
                            width: 100%;
                        }
                    }
                }

            }

            .footer_right {
                padding-left: 30px;

                >ul {
                    display: flex;
                    flex-wrap: wrap;

                    li {
                        margin-left: 30px;

                        a {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }

    &.active {}
}


@media screen and (max-width: 1440px) {

    // header
    header {
        >.header_wrap {
            width: 70%;
            margin: 0 auto;

            >nav {}

            nav a {}

            // header_left
            .header_left {}

            .header_center {
                >ul {
                    display: flex;
                    font-size: 1rem;

                    >a {
                        font-size: .9rem;
                        padding: 0 1rem;
                    }

                    .depth_01 {
                        >li {
                            >a {}

                            &:hover {
                                a {}
                            }
                        }
                    }
                }
            }

            // header_right 
            .header_right {
                width: 20px;
                height: 20px;

                span {
                    width: 20px;

                    &:nth-of-type(1) {}

                    &:nth-of-type(2) {}

                    &:nth-of-type(3) {}
                }

                &:nth-of-type(3):hover span:nth-of-type(1) {}

                &:nth-of-type(3):hover span:nth-of-type(2) {}

                &:nth-of-type(3):hover span:nth-of-type(3) {}
            }
        }

    }


    // footer
    .footer {
        font-size: .9em;

        .footer_wrap {
            padding: 20px 0;

            >ul {
                .footer_left {
                    padding-right: 30px;

                    h2 {
                        width: 200px;
                        height: 40px;
                    }

                }

                .footer_right {
                    padding-left: 30px;

                    >ul {
                        li {
                            a {}
                        }
                    }
                }
            }
        }

        &.active {}
    }
}

@media screen and (max-width: 1023px) {

    // header
    header {
        >.header_wrap {
            width: 70%;
            margin: 0 auto;

            >nav {}

            nav a {}

            // header_left
            .header_left {}

            .header_center {
                >ul {
                    display: flex;
                    font-size: 1rem;

                    >li {
                        >a {
                            font-size: .9em;
                            padding: 0 .9rem;

                        }

                        .depth_01 {
                            >li {
                                >a {}

                                &:hover {
                                    a {}
                                }
                            }
                        }
                    }
                }

            }

            // header_right 
            .header_right {
                width: 20px;
                height: 20px;

                span {
                    width: 20px;

                    &:nth-of-type(1) {}

                    &:nth-of-type(2) {}

                    &:nth-of-type(3) {}
                }

                &:nth-of-type(3):hover span:nth-of-type(1) {}

                &:nth-of-type(3):hover span:nth-of-type(2) {}

                &:nth-of-type(3):hover span:nth-of-type(3) {}
            }
        }

    }

    // footer
    .footer {
        font-size: .7em;

        .footer_wrap {
            padding: 20px 0;

            >ul {
                .footer_left {
                    padding-right: 30px;

                    h2 {
                        width: 150px;
                        height: 30px;
                    }

                }

                .footer_right {
                    padding-left: 30px;

                    >ul {
                        li {
                            a {}
                        }
                    }
                }
            }
        }

        &.active {}
    }
}


@media screen and (max-width: 767px) {

    // header
    header {
        >.header_wrap {
            width: 100%;
            margin: 0 auto;
            justify-content: space-around;
            transition: .3s;

            >nav {}

            nav a {}

            // header_left
            .header_left {}

            .header_center {
                >ul {
                    display: none;

                    // font-size: 16px;
                    >li {
                        >a {
                            // font-size: .8em;
                            // padding: 0 .8rem;
                        }

                        .depth_01 {
                            >li {
                                >a {}

                                &:hover {
                                    a {}
                                }
                            }
                        }
                    }
                }

            }

            // header_right 
            .header_right {
                width: 20px;
                height: 20px;

                span {
                    width: 20px;

                    &:nth-of-type(1) {}

                    &:nth-of-type(2) {}

                    &:nth-of-type(3) {}
                }

                &:nth-of-type(3):hover span:nth-of-type(1) {}

                &:nth-of-type(3):hover span:nth-of-type(2) {}

                &:nth-of-type(3):hover span:nth-of-type(3) {}
            }
        }

    }

    // footer
    .footer {
        font-size: .6em;

        .footer_wrap {
            padding: 20px 0;

            >ul {
                .footer_left {
                    padding-right: 30px;

                    h2 {
                        width: 100px;
                        height: 30px;
                    }

                }

                .footer_right {
                    padding-left: 30px;

                    >ul {
                        li {
                            a {}
                        }
                    }
                }
            }
        }

        &.active {}
    }
}


@media screen and (max-width: 479px) {

    // header
    header {
        >.header_wrap {
            width: 100%;
            margin: 0 auto;

            >nav {}

            nav a {}

            // header_left
            .header_left {
                margin-left: 10px;

            }

            .header_center {
                >ul {
                    display: none;

                    // font-size: 16px;
                    >li {
                        >a {
                            font-size: .8em;
                            padding: 0 20px;
                        }

                        .depth_01 {
                            >li {
                                >a {}

                                &:hover {
                                    a {}
                                }
                            }
                        }
                    }
                }
            }

            // header_right 
            .header_right {
                width: 20px;
                height: 20px;
                margin-right: 10px;

                span {
                    width: 20px;

                    &:nth-of-type(1) {}

                    &:nth-of-type(2) {}

                    &:nth-of-type(3) {}
                }

                &:nth-of-type(3):hover span:nth-of-type(1) {}

                &:nth-of-type(3):hover span:nth-of-type(2) {}

                &:nth-of-type(3):hover span:nth-of-type(3) {}
            }
        }

    }


    // footer
    .footer {
        font-size: .4em;

        .footer_wrap {
            padding: 20px 0;

            >ul {
                .footer_left {
                    padding-right: 30px;

                    h2 {
                        width: 100px;
                        height: 30px;
                    }

                }

                .footer_right {
                    padding-left: 0;

                    >ul {
                        li {
                            a {}
                        }
                    }
                }
            }
        }

        &.active {}
    }
}