/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Play:wght@400;700&display=swap');

@font-face {
	font-family: 'Noto Sans KR';
	src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
}

@font-face {
	font-family: 'Play';
	src: url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
	unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}
	



*{
	box-sizing: border-box;
}

/* font */

html{
	font-size: 62.5%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: auto;
}

img {
	vertical-align: top;
}

html, body, div, h1, h2, h3, h4, h5, h6, span, object, iframe, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, a, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, input, textarea, select, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, button, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    letter-spacing: -0.02em;
	font-family: 'Noto Sans KR', 'Play', sans-serif;
    vertical-align: baseline;
    background: transparent;
    word-break: keep-all;
    box-sizing: border-box;
}



/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
	width: 100%; height: 100%;
	max-width: 2560px;
	margin: 0 auto;
	font-size: 1.6rem;
	font-weight: normal;
	color: #666;
}

i {
	font-style: normal;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration: none;
    color: #000;
}


.pc_only {
	display: block;
}
.ta_only {
	display: none;
}
.mo_only {
	display: none;
}



/* media br */
@media screen and (max-width: 1440px) {
	html {
        font-size: 50%;
	}
	.pc_only {
        display: block !important;
    }
	.ta_only, .mo_only {
		display: none !important;
	}
}

@media screen and (max-width: 1023px) {
	.pc_only, .ta_only {
        display: block !important;
    }
	.mo_only {
		display: none !important;
	}
}

@media screen and (max-width: 767px) {
	html {
        font-size: 43.75%;
	}
	.pc_only {
        display: none !important;
    }
	.ta_only, .mo_only {
		display: block !important;
	}
}

@media screen and (max-width: 479px) {
    .pc_only, .ta_only {
        display: none !important;
    }
	.mo_only {
		display: block !important;
	}
}














/* swiper */
.main_wrap_01 .swiper-container .text_swiper .text_swiper_wrap .swiper-progress-bar .slide_progress-bar {
    border-radius: 30px;
    position: absolute;
    left: 0;
    bottom: 110%;
    width: 100px;
    height: 3px;
    background: rgba(0, 0, 0, 0.3);
  }
  .main_wrap_01 .swiper-container .text_swiper .text_swiper_wrap .swiper-progress-bar .slide_progress-bar .swiper-pagination .swiper-pagination-current {
    color: #fff;
    position: absolute;
    right: 110%;
    top: 2px;
    font-size: 1.8rem;
  }
  
.main_wrap_01 .swiper-container .text_swiper .text_swiper_wrap .swiper-progress-bar .slide_progress-bar .swiper-pagination .swiper-pagination-total {
    color: #fff;
    position: absolute;
    left: 110%;
	top: 2px;
    font-size: 1.8rem;
}

.main_wrap_01 .swiper-container .text_swiper .text_swiper_wrap .swiper-progress-bar .slide_progress-bar:after {
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
	border-radius: 10px;
	height: 100%;
	width: 0;
	content: "";
}

.main_wrap_01 .swiper-container .text_swiper .text_swiper_wrap .swiper-progress-bar.active .slide_progress-bar {
	opacity: 1;
}

.main_wrap_01 .swiper-container .text_swiper .text_swiper_wrap .swiper-progress-bar.animate .slide_progress-bar:after {
	-webkit-transition: width linear;
	transition: width linear;
	-webkit-transition-delay: unset;
			transition-delay: unset;
	width: 100%;
	-webkit-transition-duration: 5s;
			transition-duration: 5s;
}

.main_wrap_01 .swiper-container .swiper-button-next, .main_wrap_01 .swiper-container .swiper-button-prev {
	color: #000;
}
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 15px;
  left: 0;
  width: 100%;
}
/* swiper */