@media screen and (min-width: 1024px) and (max-width: 1440px) {
    
// header
header {
    > .header_wrap{
        width: 70%; margin: 0 auto;
        > nav {

        }
        nav a {}

        // header_left
        .header_left {
        } 

        .header_center {
            >ul{
                display: flex;
                font-size: 1rem;
                > a {
                    font-size: .9rem;
                    padding: 0 1rem;
                }
                .depth_01{
                    >li{
                        >a{

                        }
                        &:hover{
                            a{

                            }
                        }
                    }
                }
            }
        }

        // header_right 
        .header_right {
            width: 20px;
            height: 20px;
            span {
                width: 20px;
                &:nth-of-type(1) {
                }
                &:nth-of-type(2) {
                }
                &:nth-of-type(3) {
                }
            }
            &:nth-of-type(3):hover span:nth-of-type(1) {
            }
            &:nth-of-type(3):hover span:nth-of-type(2) {
            }
            &:nth-of-type(3):hover span:nth-of-type(3) {
            }
        }
    }
    
}

// main
main{
.main_wrap{

    > article {
        margin: 0 auto;
        width: 100%;
    }

    .main_wrap_01{
        font-size: 0;
        position: relative;
        height: 500px;
        .swiper-container{
            .swiper-wrapper{
                .swiper-slide{
                    font-size: 52px;
                    .slide_textbox{
                        font-size: .9em;
                        left: 10%; top: 40%;
                        span{
                        }
                        .textbox_title{
                            line-height: 1.2em;
                        }
                        .textbox_sub{
                            
                        }
                    }
                }
            }


            .text_swiper{
                position: absolute;
                left: 12%;
                top: 35%;
                z-index: 9999;
            
            }
        }
    }

    
    // main_wrap_02
    .main_wrap_02{
        width: 100%;
    
        .wrap_02 {

            .main_wrap_title {
                text-align: center;
                h2 {font-size: 47px;}
                p {font-size: 16px;}
            }
            
            .swiper-container{
                width: 80%;
                

                .home_slide{
                    padding: 150px 0;

                    .home_box {
                        width: 510px; height: auto;
                            .home_img {
                                img{
                                    width:100%; height: 100%;
                                }
                                .home_detail {
                                    
                                    width: 90%;
                                    top: 90%; left: 50%;
                                    transform: translateX(-50%);
                                    padding: 30px;

                                    .text_hover_box_01{
                                        .detail_text_01 {
                                            font-size: 27px;
                                        } 
                                  
                                        .detail_text_02 {
                                            margin: 20px 0;
                                            span{
                                                width: 20px; height: 2px;
                                            }
                                        }
                                    }
                                    
                                    .text_hover_box_02{
                                        .detail_text_03 {
                                            margin-top: 7px;
                                            font-size: 18px; line-height: 20px;
                                            strong{
                                            }
                                        } 
                                        .detail_text_04 {
                                            margin-top: 20px;
                                            font-size: .9rem;
                                            span{
                                                line-height: 1.5;
                                            }
                                            span:nth-of-type(1){
                                            }
                                            span:nth-of-type(2){}
                                            span:nth-of-type(3){}
                                            
                                        }
                                        .detail_more {
                                            margin-top: 30px;
                                            a{
                                                width: 100%; height: 50px;
                                                &:hover{
                                                }
                                            }
                                            a:nth-of-type(1) {
                                            }
                                            a:nth-of-type(2) {
                                            }    
                                        } 
                                    }
                                   
                                    .detail_sign{
                                        width: 70px; height: 70px;
                                        background:#112d4e;
                                        color: #fff;
                                        font-size: 22px;
                                    }
                                
                                }
                            }
                   
                        &:hover {
                            .home_detail{
                                top:10%;
                            }
                        }
                    }
                }
            }
            

        }
    }
    
    // main_wrap_05
    .main_wrap_05{
        .wrap_05 {
            .main_wrap_title {
                padding-top: 120px;
                p {
                    font-size: 30px; margin-top: 10px;
                    strong{
                    }
                }
            }

            .main_detail{
                width: 90%;
                padding: 60px 0 120px 0 ;

                > figure{
                }
                figure:nth-of-type(1){
                    padding-right: 100px;
                }
                figure:nth-of-type(2){
                    padding: 0 100px;
                }
                figure:nth-of-type(3){
                    padding-left: 100px;
                }
            }
            

        }
    }
    
    

    // main_wrap_03 
    .main_wrap_03{
        .wrap_03 {
            .main_wrap_title {
                margin-top: 60px;
                h2 {padding: 0 60px;
                    a{
                        color: #112d4e; font-size: 45px;
                        transition: .3s;
                        &:hover {
                            opacity: .5;
                        }
                    }
                }
            }

            .notice {
                margin: 50px auto 0;
                .notice_wrap{
                    > li {
                        padding: 10px 10px 10px 30px;
                        .notice_num{
                            strong {font-size: 51px; }
                        }
                        .notice_content{
                            font-size: .9em;
                            margin-left: 30px;
                            span{
                            }
                            span:nth-of-type(1){
                            }
                        }
                        .notice_date{
                            font-size: .9em;
                        }
                    }
                }
                .notice_more{
                    margin-top: 30px;
                    padding: 15px 20px;
                    font-size: .9em;
                    &:hover {
                    }
                }
            }

        }
    }

    // main_wrap_04 
    .main_wrap_04{
        margin-top: 60px;
        .wrap_04{
            > figure {
                height: 300px;
                img{}
                figcaption{
                    font-size: 25px;
                    left: 15%; top: 50%;
                    span{
                    }
                    .textbox_title{
                        > span {
                            font-size: 17px;
                        }
                    }
                    .textbox_sub_01{
                        margin-top: 10px;
                        font-size: 14px;
                    }
                    .textbox_sub_02{
                        margin-top: 25px;
                        a{
                            font-size: 14px;
                            padding: 10px 15px;
                            &:hover {
                            }
                        }
                        
                    }
                }
            }
        }
    }


    // footer
    .footer{
        font-size: .9em;
        .footer_wrap{
            padding: 20px 0;
            > ul {
                .footer_left{
                    padding-right: 30px;
                    h2{
                        width: 200px; height: 40px;
                    }

                }
                .footer_right{
                    padding-left: 30px;
                    > ul {
                        li {
                            a {
                            }
                        }
                    }
                }
            }
        }
        &.active {
        }
    }
}
}

.slick-prev, .slick-next {
    width: 20px; height: 20px;
}    
.main_wrap_01 .swiper-container .text_swiper .text_swiper_wrap .swiper-progress-bar .slide_progress-bar .swiper-pagination .swiper-pagination-total ,
.main_wrap_01 .swiper-container .text_swiper .text_swiper_wrap .swiper-progress-bar .slide_progress-bar .swiper-pagination .swiper-pagination-current {
    right: 110%;
    top: 5px;
    font-size: 20px;
  }
  

}

@media screen and (max-width: 1260px) {
    main{
        .main_wrap{
        
            > article {
                margin: 0 auto;
                width: 100%;
            }
        
           
            
            // main_wrap_02
            .main_wrap_02{
                width: 100%;
            
                .wrap_02 {
        
                    .main_wrap_title {
                        text-align: center;
                        h2 {font-size: 47px;}
                        p {font-size: 16px;}
                    }
                    
                    .swiper-container{
                        width: 80%;
                        
        
                        .home_slide{
                            padding: 150px 0;
        
                            .home_box {
                                width: 510px; height: auto;
                                    .home_img {
                                        img{
                                            width:100%; height: 100%;

                                        }
                                        .home_detail {
                                            
                                            width: 90%;
                                            top: 90%; left: 50%;
                                            transform: translateX(-50%);
                                            padding: 20px;
        
                                            .text_hover_box_01{
                                                .detail_text_01 {
                                                    font-size: 20px;
                                                } 
                                          
                                                .detail_text_02 {
                                                    margin: 15px 0;
                                                    span{
                                                        width: 20px; height: 2px;
                                                    }
                                                }
                                            }
                                            
                                            .text_hover_box_02{
                                                .detail_text_03 {
                                                    margin-top: 7px;
                                                    font-size: 16px; line-height: 20px;
                                                    strong{
                                                    }
                                                } 
                                                .detail_text_04 {
                                                    margin-top: 20px;
                                                    font-size: .8rem;
                                                    span{
                                                        line-height: 1.5;
                                                    }
                                                    span:nth-of-type(1){
                                                    }
                                                    span:nth-of-type(2){}
                                                    span:nth-of-type(3){}
                                                    
                                                }
                                                .detail_more {
                                                    margin-top: 30px;
                                                    a{
                                                        width: 100%; height: 50px;
                                                        &:hover{
                                                        }
                                                    }
                                                    a:nth-of-type(1) {
                                                    }
                                                    a:nth-of-type(2) {
                                                    }    
                                                } 
                                            }
                                           
                                            .detail_sign{
                                                width: 60px; height: 60px;
                                                background:#112d4e;
                                                color: #fff;
                                                font-size: 20px;
                                            }
                                        
                                        }
                                    }
                           
                                &:hover {
                                    .home_detail{
                                        top: 10%;
                                    }
                                }
                            }
                        }
                    }
                    
        
                }
            }
            
            // main_wrap_05
            .main_wrap_05{
                .wrap_05 {
                    .main_wrap_title {
                        padding-top: 100px;
                        p {
                            font-size: 30px; margin-top: 10px;
                            strong{
                            }
                        }
                    }
        
                    .main_detail{
                        width: 90%;
                        padding: 60px 0 100px 0 ;
        
                        > figure{
                        }
                        figure:nth-of-type(1){
                            padding-right: 100px;
                        }
                        figure:nth-of-type(2){
                            padding: 0 100px;
                        }
                        figure:nth-of-type(3){
                            padding-left: 100px;
                        }
                    }
                    
        
                }
            }
        
        }
        }
        
}
/* 테블릿 세로 (해상도 768px ~ 1023px)*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
    // header
    header {
        > .header_wrap{
            width: 70%; margin: 0 auto;
            > nav {
    
            }
            nav a {}
    
            // header_left
            .header_left {
            } 
    
            .header_center {
                > ul{
                    display: flex;
                    font-size: 1rem;
                    > li {
                        > a {
                            font-size: .9em;
                            padding: 0 .9rem;

                        }
                        .depth_01 {
                            > li{
                                >a{

                                }
                                &:hover{
                                    a{

                                    }
                                }
                            }
                        }
                    }
                }

            }
    
            // header_right 
            .header_right {
                width: 20px;
                height: 20px;
                span {
                    width: 20px;
                    &:nth-of-type(1) {
                    }
                    &:nth-of-type(2) {
                    }
                    &:nth-of-type(3) {
                    }
                }
                &:nth-of-type(3):hover span:nth-of-type(1) {
                }
                &:nth-of-type(3):hover span:nth-of-type(2) {
                }
                &:nth-of-type(3):hover span:nth-of-type(3) {
                }
            }
        }
        
    }
    // main
    main{
    .main_wrap{
    
        > article {
            margin: 0 auto;
            width: 100%;
        }
    
        .main_wrap_01{
            position: relative;
            height: 450px;
            .swiper-container{
                .swiper-wrapper{
                    .swiper-slide{
                        font-size: 45px;
                        .slide_textbox{
                            font-size: .8em;
                            left: 10%; top: 40%;
                            span{
                            }
                            .textbox_title{
                                line-height: 1.2em;
                            }
                            .textbox_sub{
                                
                            }
                        }
                    }
                }
    
    
                .text_swiper{
                    position: absolute;
                    left: 13%;
                    top: 35%;
                    z-index: 9999;
                
                }
            }
        }
        
        
        // main_wrap_02
        .main_wrap_02{
            .wrap_02 {
    
                .main_wrap_title {
                    h2 {font-size: 37px;}
                    p {font-size: 16px;}
                }
                
                .swiper-container{
                    width: 80%;
                    
    
                    .home_slide{
                        padding: 200px 0;
    
                        .home_box {
                            width: 510px; height: auto;
                                .home_img {
                                    img{
                                        width:100%; height: 100%;

                                    }
                                    .home_detail {
                                        
                                        width: 90%;
                                        top: 90%; left: 50%;
                                        transform: translateX(-50%);
                                        padding: 15px;
    
                                        .text_hover_box_01{
                                            .detail_text_01 {
                                                font-size: 18px;
                                            } 
                                        
                                            .detail_text_02 {
                                                margin: 10px 0;
                                                span{
                                                    width: 20px; height: 2px;
                                                }
                                            }
                                        }
                                        
                                        .text_hover_box_02{
                                            .detail_text_03 {
                                                margin-top: 7px;
                                                font-size: .9rem; line-height: 1.1rem;
                                                strong{
                                                }
                                            } 
                                            .detail_text_04 {
                                                margin-top: 15px;
                                                font-size: .765rem;
                                                span{
                                                    line-height: 1.5;
                                                }
                                                span:nth-of-type(1){
                                                }
                                                span:nth-of-type(2){}
                                                span:nth-of-type(3){}
                                                
                                            }
                                            .detail_more {
                                                margin-top: 30px;
                                                a{
                                                    font-size: .9rem;
                                                    width: 100%; height: 40px;
                                                    &:hover{
                                                    }
                                                }
                                                a:nth-of-type(1) {
                                                }
                                                a:nth-of-type(2) {
                                                }    
                                            } 
                                        }
                                        
                                        .detail_sign{
                                            width: 50px; height: 50px;
                                            background:#112d4e;
                                            color: #fff;
                                            font-size: 18px;
                                        }
                                    
                                    }
                                }
                        
                            &:hover {
                                .home_detail{
                                    top: 10%;
                                }
                            }
                        }
                    }
                }
                
    
            }
        }
        
        // main_wrap_05
        .main_wrap_05{
            .wrap_05 {
                .main_wrap_title {
                    width: 80%;
                    padding-top: 100px;
                    p {
                        font-size: 26px; margin-top: 10px;
                        strong{
                        }
                    }
                }
    
                .main_detail{
                    width: 90%;
                    padding: 60px 0 80px 0 ;
    
                    > figure{
                    }
                    figure:nth-of-type(1){
                        padding-right: 40px;
                    }
                    figure:nth-of-type(2){
                        padding: 0 40px;
                    }
                    figure:nth-of-type(3){
                        padding-left: 40px;
                    }
                }
                
    
            }
        }
    
    
        
    
        // main_wrap_03 
        .main_wrap_03{
            .wrap_03 {
                .main_wrap_title {
                    margin-top: 60px;
                    h2 {padding: 0 60px;
                        a{
                            color: #112d4e; font-size: 37px;
                            transition: .3s;
                            &:hover {
                                opacity: .5;
                            }
                        }
                    }
                }
    
                .notice {
                    margin: 50px auto 0;
                    .notice_wrap{
                        > li {
                            padding: 10px 5px 10px 20px;
                            .notice_num{
                                strong {font-size: 44px; }
                            }
                            .notice_content{
                                font-size: .7em;
                                margin-left: 30px;
                                span{
                                }
                                span:nth-of-type(1){
                                }
                            }
                            .notice_date{
                                font-size: .7em;
                            }
                        }
                    }
                    .notice_more{
                        margin-top: 30px;
                        padding: 15px 20px;
                        font-size: .9em;
                        &:hover {
                        }
                    }
                }
    
            }
        }
    
        // main_wrap_04 
        .main_wrap_04{
            margin-top: 60px;
            .wrap_04{
                > figure {
                    height: 300px;
                    img{}
                    figcaption{
                        font-size: 18px;
                        left: 15%; top: 50%;
                        span{
                        }
                        .textbox_title{
                            > span {
                                font-size: 15px;
                            }
                        }
                        .textbox_sub_01{
                            margin-top: 10px;
                            font-size: 12px;
                        }
                        .textbox_sub_02{
                            margin-top: 25px;
                            a{
                                font-size: 12px;
                                padding: 10px 15px;
                                &:hover {
                                }
                            }
                            
                        }
                    }
                }
            }
        }
    
    
        // footer
        .footer{
            font-size: .7em;
            .footer_wrap{
                padding: 20px 0;
                > ul {
                    .footer_left{
                        padding-right: 30px;
                        h2{
                            width: 150px; height: 30px;
                        }
    
                    }
                    .footer_right{
                        padding-left: 30px;
                        > ul {
                            li {
                                a {
                                }
                            }
                        }
                    }
                }
            }
            &.active {
            }
        }
    }
    }
    
    .slick-prev, .slick-next {
        width: 15px; height: 15px;
    }    

.main_wrap_01 .swiper-container .text_swiper .text_swiper_wrap .swiper-progress-bar .slide_progress-bar .swiper-pagination .swiper-pagination-total ,    
.main_wrap_01 .swiper-container .text_swiper .text_swiper_wrap .swiper-progress-bar .slide_progress-bar .swiper-pagination .swiper-pagination-current {
    right: 110%;
    top: 5px;
    font-size: 18px;
  }
     
}

/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/
@media screen and (min-width: 480px) and (max-width: 767px) {
    // header
    header {
        > .header_wrap{
            width: 100%; margin: 0 auto;
            justify-content: space-around;
            transition: .3s;
            > nav {
    
            }
            nav a {}
    
            // header_left
            .header_left {
            } 
    
            .header_center {
                > ul{
                    display: none;
                    // font-size: 16px;
                    >li{
                        > a {
                            // font-size: .8em;
                            // padding: 0 .8rem;
                        }
                        .depth_01 {
                            > li{
                                >a{

                                }
                                &:hover{
                                    a{

                                    }
                                }
                            }
                        }
                    }
                }
                
            }
    
            // header_right 
            .header_right {
                width: 20px;
                height: 20px;
                span {
                    width: 20px;
                    &:nth-of-type(1) {
                    }
                    &:nth-of-type(2) {
                    }
                    &:nth-of-type(3) {
                    }
                }
                &:nth-of-type(3):hover span:nth-of-type(1) {
                }
                &:nth-of-type(3):hover span:nth-of-type(2) {
                }
                &:nth-of-type(3):hover span:nth-of-type(3) {
                }
            }
        }
        
    }
    // main
    main{
    .main_wrap{
    
        > article {
            margin: 0 auto;
            width: 100%;
        }
    
        .main_wrap_01{
            position: relative;
            height: 400px;
            .swiper-container{
                .swiper-wrapper{
                    .swiper-slide{
                        font-size: 38px;
                        .slide_textbox{
                            font-size: .6em;
                            left: 10%; top: 40%;
                            span{
                            }
                            .textbox_title{
                                line-height: 1.2em;
                            }
                            .textbox_sub{
                                
                            }
                        }
                    }
                }
    
    
                .text_swiper{
                    position: absolute;
                    left: 13%;
                    top: 35%;
                    z-index: 9999;
                
                }
            }
        }
    
          
        // main_wrap_02
        .main_wrap_02{
            .wrap_02 {
    
                .main_wrap_title {
                    h2 {font-size: 30px;}
                    p {font-size: 16px;}
                }
                
                .swiper-container{
                    width: 90%; margin: 0 auto;
                    
    
                    .home_slide{
                        padding: 150px 0;
    
                        .home_box {
                            width: 510px; height: auto;
                                .home_img {
                                    img{
                                    width:100%; height: 100%;

                                    }
                                    .home_detail {
                                        
                                        width: 90%;
                                        top: 90%; left: 50%;
                                        transform: translateX(-50%);
                                        padding: 15px;
    
                                        .text_hover_box_01{
                                            .detail_text_01 {
                                                font-size: 16px;
                                            } 
                                        
                                            .detail_text_02 {
                                                margin: 10px 0;
                                                span{
                                                    width: 20px; height: 2px;
                                                }
                                            }
                                        }
                                        
                                        .text_hover_box_02{
                                            .detail_text_03 {
                                                margin-top: 7px;
                                                font-size: .8rem; line-height: 1.1rem;
                                                strong{
                                                }
                                            } 
                                            .detail_text_04 {
                                                margin-top: 15px;
                                                font-size: .7rem;
                                                span{
                                                    line-height: 1.5;
                                                }
                                                span:nth-of-type(1){
                                                }
                                                span:nth-of-type(2){}
                                                span:nth-of-type(3){}
                                                
                                            }
                                            .detail_more {
                                                margin-top: 30px;
                                                a{
                                                    font-size: .8rem;
                                                    width: 100%; height: 30px;
                                                    &:hover{
                                                    }
                                                }
                                                a:nth-of-type(1) {
                                                }
                                                a:nth-of-type(2) {
                                                }    
                                            } 
                                        }
                                        
                                        .detail_sign{
                                            width: 40px; height: 40px;
                                            background:#112d4e;
                                            color: #fff;
                                            font-size: .9rem;
                                        }
                                    
                                    }
                                }
                        
                            &:hover {
                                .home_detail{
                                    top: 40%;
                                }
                            }
                        }
                    }
                }
                
    
            }
        }
        
        // main_wrap_05
        .main_wrap_05{
            .wrap_05 {
                .main_wrap_title {
                    width: 70%;
                    padding-top: 80px;
                    p {
                        font-size: 20px; margin-top: 10px;
                        strong{
                        }
                    }
                }
    
                .main_detail{
                    width: 90%;
                    padding: 60px 0 60px 0 ;
    
                    > figure{
                    }
                    figure:nth-of-type(1){
                        padding-right: 30px;
                    }
                    figure:nth-of-type(2){
                        padding: 0 30px;
                    }
                    figure:nth-of-type(3){
                        padding-left: 30px;
                    }
                }
                
    
            }
        }
    
        
        
    
        // main_wrap_03 
        .main_wrap_03{
            .wrap_03 {
                .main_wrap_title {
                    margin-top: 60px;
                    h2 {padding: 0 60px;
                        a{
                            color: #112d4e; font-size: 30px;
                            transition: .3s;
                            &:hover {
                                opacity: .5;
                            }
                        }
                    }
                }
    
                .notice {
                    margin: 50px auto 0;
                    .notice_wrap{
                        > li {
                            padding: 10px 5px 10px 20px;
                            .notice_num{
                                strong {font-size: 37px; }
                            }
                            .notice_content{
                                font-size: .6em;
                                margin-left: 30px;
                                span{
                                }
                                span:nth-of-type(1){
                                }
                            }
                            .notice_date{
                                font-size: .6em;
                            }
                        }
                    }
                    .notice_more{
                        margin-top: 30px;
                        padding: 10px 15px;
                        font-size: .7em;
                        &:hover {
                        }
                    }
                }
    
            }
        }
    
        // main_wrap_04 
        .main_wrap_04{
            margin-top: 60px;
            .wrap_04{
                > figure {
                    height: 250px;
                    img{}
                    figcaption{
                        font-size: 16px;
                        left: 15%; top: 50%;
                        span{
                        }
                        .textbox_title{
                            > span {
                                font-size: 13px;
                            }
                        }
                        .textbox_sub_01{
                            margin-top: 10px;
                            font-size: 10px;
                        }
                        .textbox_sub_02{
                            margin-top: 25px;
                            a{
                                font-size: 10px;
                                padding: 5px 10px;
                                &:hover {
                                }
                            }
                            
                        }
                    }
                }
            }
        }
    
    
        // footer
        .footer{
            font-size: .6em;
            .footer_wrap{
                padding: 20px 0;
                > ul {
                    .footer_left{
                        padding-right: 30px;
                        h2{
                            width: 100px; height: 30px;
                        }
    
                    }
                    .footer_right{
                        padding-left: 30px;
                        > ul {
                            li {
                                a {
                                }
                            }
                        }
                    }
                }
            }
            &.active {
            }
        }
    }
    }
    
    .slick-prev, .slick-next {
        width: 15px; height: 15px;
    }    

    .slick-prev{
        transform: rotate(-135deg);
        left: 15px;
        border-top: 2px solid #000;
        border-right: 2px solid #000;
    }

    .slick-next { 
    transform: rotate(135deg);
    right: 15px;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    }
    .main_wrap_01 .swiper-container .text_swiper .text_swiper_wrap .swiper-progress-bar .slide_progress-bar .swiper-pagination .swiper-pagination-total ,
    .main_wrap_01 .swiper-container .text_swiper .text_swiper_wrap .swiper-progress-bar .slide_progress-bar .swiper-pagination .swiper-pagination-current {
        right: 110%;
        top: 5px;
        font-size: 18px;
      }
      
    

}

@media screen and (max-width: 479px) {
    
    

        // header
        header {
            > .header_wrap{
                width: 100%; margin: 0 auto;
                > nav {
        
                }
                nav a {}
        
                // header_left
                .header_left {
                margin-left: 10px;

                } 
        
                .header_center {
                    > ul {
                        display: none;
                        // font-size: 16px;
                        > li {
                            > a {
                                font-size: .8em;
                                padding: 0 20px;
                            }
                            .depth_01 {
                                > li{
                                    >a{
    
                                    }
                                    &:hover{
                                        a{
    
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
        
                // header_right 
                .header_right {
                    width: 20px;
                    height: 20px;
                    margin-right: 10px;
                    span {
                        width: 20px;
                        &:nth-of-type(1) {
                        }
                        &:nth-of-type(2) {
                        }
                        &:nth-of-type(3) {
                        }
                    }
                    &:nth-of-type(3):hover span:nth-of-type(1) {
                    }
                    &:nth-of-type(3):hover span:nth-of-type(2) {
                    }
                    &:nth-of-type(3):hover span:nth-of-type(3) {
                    }
                }
            }
            
        }
        // main
        main{
        .main_wrap{

            > article {
            }
        
            .main_wrap_01{
                height: 350px;
                .swiper-container{
                    .swiper-wrapper{
                        .swiper-slide{
                            font-size: 31px;
                            .slide_textbox{
                                font-size: .5em;
                                left: 10%; top: 40%;
                                span{
                                }
                                .textbox_title{
                                    line-height: 1.2em;
                                }
                                .textbox_sub{
                                font-size: .3em;
                                }
                            }
                        }
                    }
        
        
                    .text_swiper{
                        position: absolute;
                        left: 13%;
                        top: 35%;
                        z-index: 9999;
                    
                    }
                }
            }
        
            
                
        // main_wrap_02
        .main_wrap_02{
            padding: 60px 0 0 0;

            .wrap_02 {
    
                .main_wrap_title {
                    h2 {font-size: 21px;}
                    p {font-size: 16px;}
                }
                
                .swiper-container{
                    width: 90%; margin: 0 auto;
                    
    
                    .home_slide{
                        padding: 200px 0;
    
                        .home_box {
                            width: 510px; height: auto;
                                .home_img {
                                    img{
                                        width:100%; height: 100%;

                                    }
                                    .home_detail {
                                        
                                        width: 90%;
                                        top: 90%; left: 50%;
                                        transform: translateX(-50%);
                                        padding: 15px;
    
                                        .text_hover_box_01{
                                            .detail_text_01 {
                                                font-size: 16px;
                                            } 
                                        
                                            .detail_text_02 {
                                                margin: 10px 0;
                                                span{
                                                    width: 20px; height: 2px;
                                                }
                                            }
                                        }
                                        
                                        .text_hover_box_02{
                                            .detail_text_03 {
                                                margin-top: 7px;
                                                font-size: .8rem; line-height: 1rem;
                                                strong{
                                                }
                                            } 
                                            .detail_text_04 {
                                                margin-top: 15px;
                                                font-size: .7rem;
                                                span{
                                                    line-height: 1.5;
                                                }
                                                span:nth-of-type(1){
                                                }
                                                span:nth-of-type(2){}
                                                span:nth-of-type(3){}
                                                
                                            }
                                            .detail_more {
                                                margin-top: 30px;
                                                a{
                                                    font-size: .8rem;
                                                    width: 100%; height: 30px;
                                                    &:hover{
                                                    }
                                                }
                                                a:nth-of-type(1) {
                                                }
                                                a:nth-of-type(2) {
                                                }    
                                            } 
                                        }
                                        
                                        .detail_sign{
                                            width: 30px; height: 30px;
                                            color: #fff;
                                            font-size: .8rem;
                                        }
                                    
                                    }
                                }
                        
                            &:hover {
                                .home_detail{
                                    top: -20%;
                                }
                            }
                        }
                    }
                }
                
    
            }
        }
        
        // main_wrap_05
        .main_wrap_05{
            .wrap_05 {
                .main_wrap_title {
                    width: 70%;
                    padding-top: 120px;
                    p {
                        font-size: 20px; margin-top: 10px;
                        white-space: pre-line;
                        strong{
                        }
                    }
                }
    
                .main_detail{
                    width: 90%;
                    padding: 60px 0 120px 0 ;
                    > figure{
                        display: none;
                    }
                    figure:nth-of-type(1){
                        padding-right: 30px;
                    }
                    figure:nth-of-type(2){
                        padding: 0 30px;
                    }
                    figure:nth-of-type(3){
                        padding-left: 30px;
                    }
                }
                
    
            }
        }
    
            
        
            // main_wrap_03 
            .main_wrap_03{
                .wrap_03 {
                    .main_wrap_title {
                        margin-top: 60px;
                        h2 {padding: 0 30px;
                            a{
                                color: #112d4e; font-size: 19px;
                                transition: .3s;
                                &:hover {
                                    opacity: .5;
                                }
                            }
                        }
                    }
        
                    .notice {
                        margin: 50px auto 0;
                        .notice_wrap{
                            > li {
                                padding: 10px 5px 10px 10px;
                                .notice_num{
                                    strong {font-size: 30px; }
                                }
                                .notice_content{
                                    font-size: .4em;
                                    margin-left: 15px;
                                    span{
                                    }
                                    span:nth-of-type(1){
                                    }
                                }
                                .notice_date{
                                    display: none;
                                    // font-size: .4em;
                                }
                            }
                        }
                        .notice_more{
                            margin-top: 30px;
                            padding: 10px 15px;
                            font-size: .7em;
                            &:hover {
                            }
                        }
                    }
        
                }
            }
        
            // main_wrap_04 
            .main_wrap_04{
                margin-top: 60px;
                .wrap_04{
                    > figure {
                        height: 200px;
                        img{}
                        figcaption{
                            font-size: 9px;
                            left: 15%; top: 50%;
                            span{
                            }
                            .textbox_title{
                                > span {
                                    font-size: 6px;
                                }
                            }
                            .textbox_sub_01{
                                margin-top: 0;
                                font-size: 6px;
                                display: none;
                            }
                            .textbox_sub_02{
                                margin-top: 10px;
                                a{
                                    font-size: 6px;
                                    padding: 5px 5px;
                                    &:hover {
                                    }
                                }
                                
                            }
                        }
                    }
                }
            }
        
        
            // footer
            .footer{
                font-size: .4em;
                .footer_wrap{
                    padding: 20px 0;
                    > ul {
                        .footer_left{
                            padding-right: 30px;
                            h2{
                                width: 100px; height: 30px;
                            }
        
                        }
                        .footer_right{
                            padding-left: 0;
                            > ul {
                                li {
                                    a {
                                    }
                                }
                            }
                        }
                    }
                }
                &.active {
                }
            }
        }
        }
        
        .slick-prev, .slick-next {
            width: 15px; height: 15px;
        }    
        
        .slick-prev{
            transform: rotate(-135deg);
            left: 15px;
            border-top: 2px solid #000;
            border-right: 2px solid #000;
        }
    
        .slick-next { 
        transform: rotate(135deg);
        right: 15px;
        border-top: 2px solid #000;
        border-left: 2px solid #000;
        }

        .main_wrap_01 .swiper-container .text_swiper .text_swiper_wrap .swiper-progress-bar .slide_progress-bar .swiper-pagination .swiper-pagination-total,
        .main_wrap_01 .swiper-container .text_swiper .text_swiper_wrap .swiper-progress-bar .slide_progress-bar .swiper-pagination .swiper-pagination-current {
            right: 110%;
            top: 7px;
            font-size: .8rem;
        }
          
}
