.about_01_wrap_01{
    position: relative;
    .wrap{
        > figure {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            figcaption{
                position: absolute;
                display: flex;
                width: 100%; height: 100%;
                align-items: center; justify-content: center;
                flex-direction: column;
                color: #fff;
                .textbox_title{
                    font-size: 52px;
                }
                .textbox_sub{}
            }
        }
    }

}


.about_01_wrap_02{
    margin-top: 150px;
    text-align: center;
    .wrap{
        display: inline-block;
        position: relative;
        #quick_search{
            display: flex;
            align-items: center;
            justify-content: center;
            input{
                width: 600px;font-size: 20px;
                border: none;
                border-bottom: 1px solid #000;
                padding-bottom: 15px;
            }
            button{
                cursor: pointer;
                border: none;
                position: absolute;
                right:0; top: 50%;
                transform: translateY(-50%) ;
                background: none;
            }
            
        }
    }
}

.about_01_wrap_03{
    width: 70%; margin: 0 auto;
    .wrap {
        // border: 1px solid #f00;
        > ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .home_box {
                display: flex;
                justify-content: center;
                width: 33%;
                margin-top: 120px;
                .home_content {
                    width: 400px;
                    .home_img {
                        width: 400px; height: 290px;
                        overflow: hidden;
                    }
                    .home_detail {
                        p:nth-of-type(1) {
                            padding-top: 30px;
                            font-size: 24px;
                        } 
                        p:nth-of-type(2) {
                            padding-top: 12px;
                        } 
                        p:last-child {
                            padding-top: 40px;
                            display: flex;
                            a{
                                width: 50%; 
                                padding: 16px 60px;
                                border: 1px solid #000;
                                transition: .3s;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                color: #666;
                                &:hover{
                                    background: #112d4e;
                                    color: #fff;
                                    cursor: pointer;
                                }
                            }
                            a:nth-of-type(1) {
                            }
                            a:nth-of-type(2) {
                                border-left: none;
                            }    
                        } 
                    }
                }
               
            }
        }

    }
}