@charset "UTF-8";
@media screen and (max-width: 1440px) {
  main .about_01_wrap_01 .wrap > figure figcaption .textbox_title {
    font-size: 45px;
  }
  main .about_01_wrap_03 .wrap > ul .home_box .home_content {
    width: 90%;
  }
  main .about_01_wrap_03 .wrap > ul .home_box .home_content .home_img {
    max-width: 100%;
    height: auto;
  }
  main .about_01_wrap_03 .wrap > ul .home_box .home_content .home_detail p:nth-of-type(1) {
    font-size: 24px;
  }
  main .about_01_wrap_03 .wrap > ul .home_box .home_content .home_detail p:nth-of-type(2) {
    padding-top: 12px;
  }
  main .about_01_wrap_03 .wrap > ul .home_box .home_content .home_detail p:last-child {
    padding-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main .about_01_wrap_03 .wrap > ul .home_box .home_content .home_detail p:last-child a {
    width: 50%;
    padding: 10px 10px;
    border: 1px solid #000;
    -webkit-transition: .3s;
    transition: .3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #666;
  }
  main .about_01_wrap_03 .wrap > ul .home_box .home_content .home_detail p:last-child a:hover {
    background: #112d4e;
    color: #fff;
    cursor: pointer;
  }
  main .about_01_wrap_03 .wrap > ul .home_box .home_content .home_detail p:last-child a:nth-of-type(2) {
    border-left: none;
  }
}

/* 테블릿 세로 (해상도 768px ~ 1023px)*/
@media screen and (max-width: 1023px) {
  main .about_01_wrap_01 .wrap > figure figcaption .textbox_title {
    font-size: 38px;
  }
  main .about_01_wrap_02 .wrap #quick_search {
    width: 500px;
  }
  main .about_01_wrap_03 .wrap > ul .home_box .home_content {
    width: 90%;
  }
  main .about_01_wrap_03 .wrap > ul .home_box .home_content .home_detail p:nth-of-type(1) {
    font-size: 20px;
  }
  main .about_01_wrap_03 .wrap > ul .home_box .home_content .home_detail p:nth-of-type(2) {
    font-size: .9rem;
  }
  main .about_01_wrap_03 .wrap > ul .home_box .home_content .home_detail p:last-child {
    padding-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main .about_01_wrap_03 .wrap > ul .home_box .home_content .home_detail p:last-child a {
    width: 50%;
    padding: 10px 10px;
    border: 1px solid #000;
    -webkit-transition: .3s;
    transition: .3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: .8rem;
  }
  main .about_01_wrap_03 .wrap > ul .home_box .home_content .home_detail p:last-child a:hover {
    background: #112d4e;
    color: #fff;
    cursor: pointer;
  }
  main .about_01_wrap_03 .wrap > ul .home_box .home_content .home_detail p:last-child a:nth-of-type(2) {
    border-left: none;
  }
}

/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/
@media screen and (max-width: 767px) {
  main .about_01_wrap_01 .wrap > figure figcaption .textbox_title {
    font-size: 26px;
  }
  main .about_01_wrap_01 .wrap > figure figcaption .textbox_sub {
    text-align: center;
  }
  main .about_01_wrap_02 .wrap #quick_search {
    width: 300px;
  }
  main .about_01_wrap_03 .wrap > ul .home_box .home_content {
    width: 90%;
  }
  main .about_01_wrap_03 .wrap > ul .home_box .home_content .home_detail p:nth-of-type(1) {
    font-size: 18px;
  }
  main .about_01_wrap_03 .wrap > ul .home_box .home_content .home_detail p:nth-of-type(2) {
    font-size: .7rem;
    line-height: 1rem;
  }
  main .about_01_wrap_03 .wrap > ul .home_box .home_content .home_detail p:last-child {
    padding-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .about_01_wrap_03 .wrap > ul .home_box .home_content .home_detail p:last-child a {
    width: 100%;
    padding: 10px 10px;
    -webkit-transition: .3s;
    transition: .3s;
    font-size: .6rem;
    border: none;
  }
  main .about_01_wrap_03 .wrap > ul .home_box .home_content .home_detail p:last-child a:hover {
    background: #112d4e;
    color: #fff;
    cursor: pointer;
  }
  main .about_01_wrap_03 .wrap > ul .home_box .home_content .home_detail p:last-child a:nth-of-type(1) {
    border: 1px solid #000;
    border-bottom: none;
  }
  main .about_01_wrap_03 .wrap > ul .home_box .home_content .home_detail p:last-child a:nth-of-type(2) {
    border: 1px solid #000;
  }
}

@media screen and (max-width: 479px) {
  main .about_01_wrap_01 .wrap > figure figcaption .textbox_title {
    font-size: 31px;
  }
  main .about_01_wrap_02 .wrap #quick_search {
    width: 400px;
  }
  main .about_01_wrap_03 .wrap > ul .home_box .home_content {
    width: 90%;
  }
  main .about_01_wrap_03 .wrap > ul .home_box .home_content .home_detail p:nth-of-type(1) {
    font-size: 20px;
  }
  main .about_01_wrap_03 .wrap > ul .home_box .home_content .home_detail p:nth-of-type(2) {
    font-size: .8rem;
    line-height: 1rem;
  }
  main .about_01_wrap_03 .wrap > ul .home_box .home_content .home_detail p:last-child {
    padding-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .about_01_wrap_03 .wrap > ul .home_box .home_content .home_detail p:last-child a {
    width: 100%;
    padding: 10px 10px;
    -webkit-transition: .3s;
    transition: .3s;
    font-size: .7rem;
    border: none;
  }
  main .about_01_wrap_03 .wrap > ul .home_box .home_content .home_detail p:last-child a:hover {
    background: #112d4e;
    color: #fff;
    cursor: pointer;
  }
  main .about_01_wrap_03 .wrap > ul .home_box .home_content .home_detail p:last-child a:nth-of-type(1) {
    border: 1px solid #000;
    border-bottom: none;
  }
  main .about_01_wrap_03 .wrap > ul .home_box .home_content .home_detail p:last-child a:nth-of-type(2) {
    border: 1px solid #000;
  }
}
/*# sourceMappingURL=about_media.css.map */