
.text_pointing {width:10px; height:17px; margin-right: 6px;}
main{
    // max-width: 2560px; margin: 0 auto ;
    // .operation_about_01
    .operation_about_01{
        position: relative;
        .wrap{
            > figure {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 350px;

                figcaption{
                    position: absolute;
                    display: flex;
                    width: 100%; height: 100%;
                    align-items: center; justify-content: center;
                    flex-direction: column;
                    color: #fff;
                    .textbox_title{
                        font-size: 52px;
                    }
                    .textbox_sub{}
                }
            }
        }

    }

    // .operation_about_02
    .operation_about_02{
        width: 70%; margin: 150px auto 0;
        .wrap {
            .content_01{
            display: flex;
            .detail_main_visual_01{
                width: 710px; height: 530px;
            }
            
            .detail_main_caption{
                figcaption{
                    padding: 40px 0 0 60px;
                    
                    ul {
                        li{
                        }
                        .caption_01{
                            font-size: 36px;
                        }
                        .caption_02{
                            margin-top: 32px;
                            font-size: 24px;
                            padding-bottom: 24px;
                            border-bottom: 1px solid #ddd;
                            color: #112d4e;
                        }
                        .caption_03, .caption_04, .caption_05{
                            list-style-type: disc;
                        }
                        .caption_03{
                            margin-top: 30px;
                        }
                        .caption_04{
                            margin-top: 10px;
                        }
                        .caption_05{
                            margin-top: 10px;
                        }
                        .caption_more{
                            display: inline-block;font-size: 20px; padding: 20px 40px; border: 1px solid #ddd;
                            margin-top: 40px;
                            transition: .3s;
                            color: #222;
                            &:hover{
                                background: #112d4e;
                                color: #fff;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
        .content_02{
            table {
                margin-top: 120px;
                width:100%;
                tr{
                    border: 1px solid #fff;
                    td:nth-of-type(1), td:nth-of-type(3){
                        background: #112d4e;
                        padding: 20px 20px;
                        width:10%;
                        text-align: center;
                        color: #fff;
                    }
                    td:nth-of-type(2), td:nth-of-type(4){
                        border: 1px solid #ddd;
                        padding-left: 40px;
                        width: 300px
                    }
                }
            }
        }
        }
    }

    // .operation_about_03
    .operation_about_03{
        width: 70%; margin: 0 auto;
        .content_title{
            margin-top: 140px;
            display: flex;
            width:100%;
            border-bottom: 1px solid #ddd;
            padding-bottom: 24px;
            figcaption{
                font-size: 24px;
                font-weight: bold;
                color: #112d4e;
            }
        }
        .content_main{
            margin-top: 40px;
        }
    }

    // .operation_about_04
    .operation_about_04{
        width: 70%; margin: 0 auto;
        .content_title{
            margin-top: 140px;
            display: flex;
            width:100%;
            border-bottom: 1px solid #ddd;
            padding-bottom: 24px;
            figcaption{
                font-size: 24px;
                font-weight: bold;
                color: #112d4e;
            }
        }
        .content_main{
            margin-top: 40px;
            .content_table_01{
                width: 100%;
                text-align: center;
                caption{display: none;}
                tr,th,td {border: 1px solid #ddd; padding:20px; vertical-align: middle;}

                
                .table_detail_01{
                    th{font-size: 20px; padding:20px 30px; background: #112d4e; color: #fff;}
                }
                .table_detail_02{
                    td{
                        figure{
                            width: 230px; height:200px;
                            margin: 25px auto;
                        }
                    }
                }

            }
        }
    }

    // .operation_about_05
    .operation_about_05{
        width: 70%; margin: 0 auto;
        .content_title{
            margin-top: 140px;
            display: flex;
            width:100%;
            border-bottom: 1px solid #ddd;
            padding-bottom: 24px;
            figcaption{
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                font-size: 24px;
                font-weight: bold;
                color: #112d4e;
                .content_title_sub_01{
                    font-size: 16px;
                    color:#666;
                    font-weight: 400;
                }
            }
        }
        .content_main{
            margin-top: 40px;
            .wrap{
                display: flex;
                justify-content: space-around;
                .content_01{
                    ul{
                        position: relative;
                        width: 550px; height: 500px;
                        li:not(:first-of-type) {
                            position: absolute;
                            z-index: 10;
                        }
                        .map_pointer_01{
                            left: 224px; top: 72px;
                        }
                        .map_pointer_02{
                            left: 187px; top: 108px;
                        }
                        .map_pointer_03{
                            left: 72px; top: 276px;
                        }
                        .map_pointer_04{
                            right: 28px; top: 235px;
                        }
                        
                        .point > svg > path{
                            transition: .3s;
                        }
                        .point:hover > svg > path{
                            fill: #112d4e;
                        }
                        .point.active > svg > path{
                            fill: #112d4e;
                        }
                    }
                }

                .content_02{
                    width: 500px;
                    > ul {
                        > li {
                            border-bottom: 1px solid #ddd;
                            display: flex;
                            justify-content: space-between;
                            margin-top: 15px;
                            .content_text{
                                line-height: 1.5rem;
                                padding-bottom: 15px;
                                p{
                                    font-size: 20px;
                                }
                                i{
                                    color: #666;
                                }
                            }
                            .content_ico{
                                figure{
                                    .map_pointer{transition: .3s;}
                                    .map_svg:hover .map_pointer{
                                        fill: #112d4e;
                                    }
                                    .map_svg.active .map_pointer{
                                        fill: #112d4e;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // .operation_about_06
    .operation_about_06{
        width: 70%; margin: 0 auto;
        .content_title{
            margin-top: 140px;
            display: flex;
            width:100%;
            border-bottom: 1px solid #ddd;
            padding-bottom: 24px;
            figcaption{
                font-size: 24px;
                font-weight: bold;
                color: #112d4e;
            }
        }
        .content_main{
            margin-top: 40px;
            .wrap{
                display: flex;
                .content_01{
                    figure{
                        width: 710px; height: 530px;
                    }
                }

                .content_02{
                    margin-left: 60px;
                    ul{
                        .content_02_wrap{
                            margin: 20px 0;
                            > li:not(:first-of-type) {
                                margin-top: 10px;
                            }
                            > li{
                                display: flex;

                                strong{
                                    width: 60px; text-align: right; margin: 2.5px 30px 0 0;
                                    color: #112d4e;
                                    font-weight: bold;
                                }
                                .content_02_detail{
                                    > li{
                                        padding-left: 30px;
                                        border-left: 1px solid #ddd;
                                        margin-top: 2.5px;
                                    }
                                }
                            }
                        }
                    }
                    a{
                        margin-top: 50px;
                        padding: 15px 30px;
                        border: 1px solid #ddd;
                        display: inline-block;
                        color: #222;
                        transition: .3s;
                        &:hover{
                            background: #112d4e;
                            color: #fff;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}
