.about_01_wrap_01 {
  position: relative;
}

.about_01_wrap_01 .wrap > figure {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about_01_wrap_01 .wrap > figure figcaption {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
}

.about_01_wrap_01 .wrap > figure figcaption .textbox_title {
  font-size: 52px;
}

.about_detail_01 {
  width: 70%;
  margin: 150px auto 0;
  border: 1px solid #F00;
}

.about_detail_01 .wrap .content_01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about_detail_01 .wrap .content_01 .detail_main_visual_01 {
  width: 710px;
  height: 530px;
}

.about_detail_01 .wrap .content_01 .detail_main_caption figcaption {
  padding: 40px 0 0 60px;
}

.about_detail_01 .wrap .content_01 .detail_main_caption figcaption ul .caption_01 {
  font-size: 36px;
}

.about_detail_01 .wrap .content_01 .detail_main_caption figcaption ul .caption_02 {
  margin-top: 32px;
  font-size: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ddd;
  color: #112d4e;
}

.about_detail_01 .wrap .content_01 .detail_main_caption figcaption ul .caption_02 img {
  width: 10px;
  height: 17px;
}

.about_detail_01 .wrap .content_01 .detail_main_caption figcaption ul .caption_03, .about_detail_01 .wrap .content_01 .detail_main_caption figcaption ul .caption_04, .about_detail_01 .wrap .content_01 .detail_main_caption figcaption ul .caption_05 {
  list-style: circle;
}

.about_detail_01 .wrap .content_01 .detail_main_caption figcaption ul .caption_03 {
  margin-top: 30px;
}

.about_detail_01 .wrap .content_01 .detail_main_caption figcaption ul .caption_04 {
  margin-top: 10px;
}

.about_detail_01 .wrap .content_01 .detail_main_caption figcaption ul .caption_05 {
  margin-top: 10px;
}

.about_detail_01 .wrap .content_01 .detail_main_caption figcaption ul .caption_more {
  display: inline-block;
  font-size: 20px;
  padding: 20px 40px;
  border: 1px solid #ddd;
  margin-top: 40px;
}

.about_detail_01 .wrap .content_02 table {
  margin-top: 120px;
  width: 100%;
}

.about_detail_01 .wrap .content_02 table tr {
  border: 1px solid #fff;
}

.about_detail_01 .wrap .content_02 table tr td:nth-of-type(1), .about_detail_01 .wrap .content_02 table tr td:nth-of-type(3) {
  background: #112d4e;
  padding: 20px 20px;
  width: 10%;
  text-align: center;
  color: #fff;
}

.about_detail_01 .wrap .content_02 table tr td:nth-of-type(2), .about_detail_01 .wrap .content_02 table tr td:nth-of-type(4) {
  border: 1px solid #ddd;
  padding-left: 40px;
  width: 300px;
}
/*# sourceMappingURL=about_detail.css.map */