@media screen and (max-width: 1440px) {
  main .operation_about_01 {
    position: relative;
  }
  main .operation_about_01 .wrap > figure {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .operation_about_01 .wrap > figure figcaption {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #fff;
  }
  main .operation_about_01 .wrap > figure figcaption .textbox_title {
    font-size: 52px;
  }
  main .operation_about_02 .wrap .content_01 .detail_main_visual_01 {
    width: 710px;
    height: 530px;
  }
  main .operation_about_02 .wrap .content_01 .detail_main_caption figcaption {
    padding: 40px 0 0 60px;
  }
  main .operation_about_02 .wrap .content_01 .detail_main_caption figcaption ul .caption_01 {
    font-size: 2rem;
  }
  main .operation_about_02 .wrap .content_01 .detail_main_caption figcaption ul .caption_02 {
    margin-top: 32px;
    font-size: 1.3rem;
    padding-bottom: 24px;
  }
  main .operation_about_02 .wrap .content_01 .detail_main_caption figcaption ul .caption_05 {
    margin-top: 10px;
  }
  main .operation_about_02 .wrap .content_01 .detail_main_caption figcaption ul .caption_more {
    font-size: 1rem;
    padding: 20px 40px;
    margin-top: 40px;
  }
  main .operation_about_02 .wrap .content_02 table {
    margin-top: 120px;
    width: 100%;
  }
  main .operation_about_02 .wrap .content_02 table tr td:nth-of-type(1), main .operation_about_02 .wrap .content_02 table tr td:nth-of-type(3) {
    padding: 20px 10px;
    width: 10%;
    text-align: center;
    color: #fff;
  }
  main .operation_about_02 .wrap .content_02 table tr td:nth-of-type(2), main .operation_about_02 .wrap .content_02 table tr td:nth-of-type(4) {
    border: 1px solid #ddd;
    padding-left: 40px;
    width: 300px;
  }
  main .operation_about_03 {
    width: 70%;
    margin: 0 auto;
  }
  main .operation_about_03 .content_title {
    margin-top: 140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 24px;
  }
  main .operation_about_03 .content_title figcaption {
    font-size: 24px;
    font-weight: bold;
    color: #112d4e;
  }
  main .operation_about_03 .content_main {
    margin-top: 40px;
  }
  main .operation_about_04 .content_title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main .operation_about_04 .content_title figcaption {
    font-size: 24px;
  }
  main .operation_about_04 .content_main {
    margin-top: 40px;
  }
  main .operation_about_04 .content_main .content_table_01 {
    width: 100%;
  }
  main .operation_about_04 .content_main .content_table_01 caption {
    display: none;
  }
  main .operation_about_04 .content_main .content_table_01 tr, main .operation_about_04 .content_main .content_table_01 th, main .operation_about_04 .content_main .content_table_01 td {
    padding: 10px;
  }
  main .operation_about_04 .content_main .content_table_01 td {
    font-size: .9rem;
  }
  main .operation_about_04 .content_main .content_table_01 .table_detail_01 th {
    font-size: 1.1rem;
    padding: 10px 20px;
  }
  main .operation_about_04 .content_main .content_table_01 .table_detail_02 td figure {
    width: 100%;
    height: auto;
    margin: 0;
  }
  main .operation_about_05 .content_title figcaption {
    font-size: 24px;
  }
  main .operation_about_05 .content_title figcaption .content_title_sub_01 {
    font-size: .9rem;
  }
  main .operation_about_05 .content_main .wrap {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .operation_about_05 .content_main .wrap .content_01 ul {
    width: 550px;
    height: 500px;
  }
  main .operation_about_05 .content_main .wrap .content_01 ul .map_pointer_01 {
    left: 224px;
    top: 72px;
  }
  main .operation_about_05 .content_main .wrap .content_01 ul .map_pointer_02 {
    left: 187px;
    top: 108px;
  }
  main .operation_about_05 .content_main .wrap .content_01 ul .map_pointer_03 {
    left: 72px;
    top: 276px;
  }
  main .operation_about_05 .content_main .wrap .content_01 ul .map_pointer_04 {
    right: 28px;
    top: 235px;
  }
  main .operation_about_05 .content_main .wrap .content_02 {
    width: 30%;
  }
  main .operation_about_05 .content_main .wrap .content_02 > ul > li {
    border-bottom: 1px solid #ddd;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 15px;
  }
  main .operation_about_05 .content_main .wrap .content_02 > ul > li .content_text p {
    font-size: 1.1rem;
  }
  main .operation_about_05 .content_main .wrap .content_02 > ul > li .content_text i {
    font-size: .9rem;
  }
  main .operation_about_05 .content_main .wrap .content_02 > ul > li .content_ico figure .map_pointer {
    -webkit-transition: .3s;
    transition: .3s;
  }
  main .operation_about_05 .content_main .wrap .content_02 > ul > li .content_ico figure .map_svg:hover .map_pointer {
    fill: #112d4e;
  }
  main .operation_about_05 .content_main .wrap .content_02 > ul > li .content_ico figure .map_svg.active .map_pointer {
    fill: #112d4e;
  }
  main .operation_about_06 {
    width: 70%;
    margin: 0 auto;
  }
  main .operation_about_06 .content_title {
    margin-top: 140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 24px;
  }
  main .operation_about_06 .content_title figcaption {
    font-size: 24px;
    font-weight: bold;
    color: #112d4e;
  }
  main .operation_about_06 .content_main {
    margin-top: 40px;
  }
  main .operation_about_06 .content_main .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main .operation_about_06 .content_main .wrap .content_01 figure {
    width: auto;
    height: auto;
  }
  main .operation_about_06 .content_main .wrap .content_02 {
    margin-left: 60px;
  }
  main .operation_about_06 .content_main .wrap .content_02 ul .content_02_wrap {
    margin: 20px 0;
  }
  main .operation_about_06 .content_main .wrap .content_02 ul .content_02_wrap > li:not(:first-of-type) {
    margin-top: 10px;
  }
  main .operation_about_06 .content_main .wrap .content_02 ul .content_02_wrap > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main .operation_about_06 .content_main .wrap .content_02 ul .content_02_wrap > li strong {
    width: 40px;
    text-align: right;
    margin: 2.5px 30px 0 0;
  }
  main .operation_about_06 .content_main .wrap .content_02 ul .content_02_wrap > li .content_02_detail > li {
    padding-left: 10px;
    margin-top: 2.5px;
  }
  main .operation_about_06 .content_main .wrap .content_02 a {
    margin-top: 50px;
    padding: 15px 30px;
    -webkit-transition: .3s;
    transition: .3s;
  }
}

@media screen and (max-width: 1023px) {
  main .operation_about_01 .wrap > figure figcaption {
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .operation_about_01 .wrap > figure figcaption .textbox_title {
    font-size: 45px;
  }
  main .operation_about_02 .wrap .content_01 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .operation_about_02 .wrap .content_01 .detail_main_visual_01 {
    width: auto;
    height: auto;
  }
  main .operation_about_02 .wrap .content_01 .detail_main_caption figcaption {
    padding: 40px 0 0 0;
  }
  main .operation_about_02 .wrap .content_01 .detail_main_caption figcaption ul .caption_01 {
    font-size: 1.8rem;
  }
  main .operation_about_02 .wrap .content_01 .detail_main_caption figcaption ul .caption_02 {
    margin-top: 32px;
    font-size: 1.3rem;
    padding-bottom: 24px;
  }
  main .operation_about_02 .wrap .content_01 .detail_main_caption figcaption ul .caption_05 {
    margin-top: 10px;
  }
  main .operation_about_02 .wrap .content_01 .detail_main_caption figcaption ul .caption_more {
    font-size: 1rem;
    padding: 20px 40px;
    margin-top: 40px;
    display: block;
    text-align: center;
  }
  main .operation_about_02 .wrap .content_02 table {
    margin-top: 120px;
  }
  main .operation_about_02 .wrap .content_02 table tr td:nth-of-type(1), main .operation_about_02 .wrap .content_02 table tr td:nth-of-type(3) {
    padding: 20px 10px;
    width: 10%;
    text-align: center;
    color: #fff;
  }
  main .operation_about_02 .wrap .content_02 table tr td:nth-of-type(2), main .operation_about_02 .wrap .content_02 table tr td:nth-of-type(4) {
    border: 1px solid #ddd;
    padding-left: 40px;
    width: 300px;
  }
  main .operation_about_03 {
    width: 70%;
    margin: 0 auto;
  }
  main .operation_about_03 .content_title {
    margin-top: 140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 24px;
  }
  main .operation_about_03 .content_title figcaption {
    font-size: 24px;
    font-weight: bold;
    color: #112d4e;
  }
  main .operation_about_03 .content_main {
    margin-top: 40px;
  }
  main .operation_about_04 .content_title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main .operation_about_04 .content_title figcaption {
    font-size: 24px;
  }
  main .operation_about_04 .content_main {
    margin-top: 40px;
  }
  main .operation_about_04 .content_main .content_table_01 {
    width: 100%;
  }
  main .operation_about_04 .content_main .content_table_01 caption {
    display: none;
  }
  main .operation_about_04 .content_main .content_table_01 tr, main .operation_about_04 .content_main .content_table_01 th, main .operation_about_04 .content_main .content_table_01 td {
    padding: 10px;
  }
  main .operation_about_04 .content_main .content_table_01 td {
    font-size: .9rem;
  }
  main .operation_about_04 .content_main .content_table_01 .table_detail_01 th {
    font-size: 1.1rem;
    padding: 10px 20px;
  }
  main .operation_about_04 .content_main .content_table_01 .table_detail_02 td figure {
    width: 100%;
    height: auto;
    margin: 0;
  }
  main .operation_about_05 .content_title figcaption {
    font-size: 24px;
  }
  main .operation_about_05 .content_title figcaption .content_title_sub_01 {
    font-size: .9rem;
  }
  main .operation_about_05 .content_main .wrap {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .operation_about_05 .content_main .wrap .content_01 ul {
    width: 550px;
    height: 500px;
  }
  main .operation_about_05 .content_main .wrap .content_01 ul .map_pointer_01 {
    left: 224px;
    top: 72px;
  }
  main .operation_about_05 .content_main .wrap .content_01 ul .map_pointer_02 {
    left: 187px;
    top: 108px;
  }
  main .operation_about_05 .content_main .wrap .content_01 ul .map_pointer_03 {
    left: 72px;
    top: 276px;
  }
  main .operation_about_05 .content_main .wrap .content_01 ul .map_pointer_04 {
    right: 28px;
    top: 235px;
  }
  main .operation_about_05 .content_main .wrap .content_02 {
    width: 30%;
  }
  main .operation_about_05 .content_main .wrap .content_02 > ul > li {
    border-bottom: 1px solid #ddd;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 15px;
  }
  main .operation_about_05 .content_main .wrap .content_02 > ul > li .content_text p {
    font-size: 1rem;
  }
  main .operation_about_05 .content_main .wrap .content_02 > ul > li .content_text i {
    display: none;
    font-size: .9rem;
  }
  main .operation_about_05 .content_main .wrap .content_02 > ul > li .content_ico figure .map_pointer {
    -webkit-transition: .3s;
    transition: .3s;
  }
  main .operation_about_05 .content_main .wrap .content_02 > ul > li .content_ico figure .map_svg:hover .map_pointer {
    fill: #112d4e;
  }
  main .operation_about_05 .content_main .wrap .content_02 > ul > li .content_ico figure .map_svg.active .map_pointer {
    fill: #112d4e;
  }
  main .operation_about_06 {
    width: 70%;
    margin: 0 auto;
  }
  main .operation_about_06 .content_title {
    margin-top: 140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 24px;
  }
  main .operation_about_06 .content_title figcaption {
    font-size: 24px;
    font-weight: bold;
    color: #112d4e;
  }
  main .operation_about_06 .content_main {
    margin-top: 40px;
  }
  main .operation_about_06 .content_main .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .operation_about_06 .content_main .wrap .content_01 figure {
    width: auto;
    height: auto;
  }
  main .operation_about_06 .content_main .wrap .content_02 {
    margin-left: 0;
  }
  main .operation_about_06 .content_main .wrap .content_02 ul .content_02_wrap {
    margin: 20px 0;
  }
  main .operation_about_06 .content_main .wrap .content_02 ul .content_02_wrap > li:not(:first-of-type) {
    margin-top: 10px;
  }
  main .operation_about_06 .content_main .wrap .content_02 ul .content_02_wrap > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main .operation_about_06 .content_main .wrap .content_02 ul .content_02_wrap > li strong {
    width: 70px;
    text-align: left;
    margin: 0;
  }
  main .operation_about_06 .content_main .wrap .content_02 ul .content_02_wrap > li .content_02_detail > li {
    padding-left: 10px;
    margin-top: 2.5px;
  }
  main .operation_about_06 .content_main .wrap .content_02 a {
    display: block;
    text-align: center;
    margin-top: 50px;
    padding: 15px 30px;
  }
}
/*# sourceMappingURL=about_media_detail_01.css.map */