header {
  max-width: 1920px;
  margin: 0 auto;
  z-index: 9999;
  position: relative;
}

header > .header_wrap {
  width: 70%;
  margin: 0 auto;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header > .header_wrap .header_center > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
}

header > .header_wrap .header_center > ul > li {
  position: relative;
}

header > .header_wrap .header_center > ul > li > a {
  padding: 0 30px;
  color: #000;
  font-family: "AppleSDGothicNeoM";
}

header > .header_wrap .header_center > ul > li .depth_01 {
  z-index: 10000;
  display: none;
  position: absolute;
  left: -50%;
  top: 100%;
  width: 200%;
  text-align: center;
  border-radius: 10px;
}

header > .header_wrap .header_center > ul > li .depth_01 > li {
  padding: 10px 0;
  background: rgba(255, 255, 255, 0.7);
  -webkit-transition: .1s;
  transition: .1s;
}

header > .header_wrap .header_center > ul > li .depth_01 > li > a {
  font-size: .9rem;
  color: #222;
}

header > .header_wrap .header_center > ul > li .depth_01 > li:hover {
  background: #112d4e;
}

header > .header_wrap .header_center > ul > li .depth_01 > li:hover a {
  color: #fff;
}

header > .header_wrap .header_center > ul > li:hover .depth_01 {
  display: block;
}

header > .header_wrap .header_right {
  position: relative;
  width: 22px;
  height: 22px;
}

header > .header_wrap .header_right span {
  position: absolute;
  left: 0;
  display: block;
  width: 22px;
  border-bottom: 2px solid #000;
  -webkit-transition: .3s;
  transition: .3s;
}

header > .header_wrap .header_right span:nth-of-type(1) {
  top: 0;
}

header > .header_wrap .header_right span:nth-of-type(2) {
  top: calc(50% - 1px);
}

header > .header_wrap .header_right span:nth-of-type(3) {
  bottom: 0;
}

header > .header_wrap .header_right:nth-of-type(3):hover span:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: calc(50% - 1px);
}

header > .header_wrap .header_right:nth-of-type(3):hover span:nth-of-type(2) {
  opacity: 0;
}

header > .header_wrap .header_right:nth-of-type(3):hover span:nth-of-type(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: calc(50% - 1px);
}

header > .header_wrap .header_navi {
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 9999;
  width: 100%;
  background: #112d4e;
  color: #fff;
  display: none;
}

header > .header_wrap .header_navi .header_navi_wrap {
  width: 70%;
  margin: 0 auto;
}

header > .header_wrap .header_navi .header_navi_wrap a {
  color: #fff;
}

header > .header_wrap .header_navi .header_navi_wrap > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0;
}

header > .header_wrap .header_navi .header_navi_wrap > ul > li {
  margin-right: 30px;
}

header > .header_wrap .header_navi .header_navi_wrap > ul select {
  padding: 10px 30px 10px 0;
  border: none;
  background: none;
  font-size: 16px;
  color: #fff;
}

header > .header_wrap .header_navi .header_navi_wrap > ul select option {
  color: #000;
}

header > .header_wrap .header_navi .header_navi_wrap > ul li:nth-of-type(1) {
  width: 20px;
  height: 20px;
  color: #fff;
}

header > .header_wrap .header_navi.active {
  display: block;
}


/* media screen */
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  header > .header_wrap {
    width: 90%;
    margin: 0 auto;
  }
  header > .header_wrap .header_center > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 18px;
  }
  header > .header_wrap .header_center > ul > a {
    font-size: .9em;
    padding: 0 20px;
  }
  header > .header_wrap .header_right {
    width: 20px;
    height: 20px;
  }
  header > .header_wrap .header_right span {
    width: 20px;
  }
}

/* 테블릿 세로 (해상도 768px ~ 1023px)*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
  header > .header_wrap {
    width: 100%;
    margin: 0 auto;
  }
  header > .header_wrap .header_center > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 16px;
  }
  header > .header_wrap .header_center > ul > li > a {
    font-size: .9em;
    padding: 0 20px;
  }
  header > .header_wrap .header_right {
    width: 20px;
    height: 20px;
  }
  header > .header_wrap .header_right span {
    width: 20px;
  }
}

/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/
@media screen and (min-width: 480px) and (max-width: 767px) {
  header > .header_wrap {
    width: 100%;
    margin: 0 auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-transition: .3s;
    transition: .3s;
  }
  header > .header_wrap .header_center > ul {
    display: none;
  }
  header > .header_wrap .header_right {
    width: 20px;
    height: 20px;
  }
  header > .header_wrap .header_right span {
    width: 20px;
  }
  
}

@media screen and (max-width: 479px) {
  header > .header_wrap {
    width: 100%;
    margin: 0 auto;
  }
  header > .header_wrap .header_center > ul {
    display: none;
  }
  header > .header_wrap .header_center > ul > li > a {
    font-size: .8em;
    padding: 0 20px;
  }
  header > .header_wrap .header_right {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  header > .header_wrap .header_right span {
    width: 20px;
  }
 
}